[2021-04-22 06:05] ritchie46 commented on #562
Thanks for your issue report!

[2021-04-22 06:28] #562 closed

[2021-04-22 07:32] #560 closed

[2021-04-22 11:00] rlmwang opened #566 "Extend window functions with split-apply-combine pattern"
### Firstly

I really appreciate your project. Pandas played an essential role in making Python the go-to language for data science. But it has many gotchas, creating a barrier of entry for new data scientists that could be lowered. For me, Polars has the potential to be a strong addition-alternative to Pandas, creating a healthy environment for the growth of both projects.

### Request

Add `col(

[2021-04-22 12:57] ritchie46 commented on #566
Hi, I believe that the feature you request already exists. :)

However in this case, it produces a different result than the `explode`, `join` combination.

The explode turns this list `[1, 2, 3]` in this `Series`

[code]

 The numbers, (not the lists) will be joined back on the groups. With a window function, the lists will be joined on the groups.

 The correct result of the explode-join snippet

[2021-04-24 17:22] ritchie46 commented on #141
Not very relevant anymore

[2021-04-24 17:22] #141 closed

[2021-04-24 18:49] ritchie46 opened #572 "Python API, put string methods behind .str. method call"
This will be a breaking change, but will make the API more similar to other tools and improve acceptance.

[2021-04-24 18:50] ritchie46 commented on #572
@YuRiTan

[2021-04-24 22:56] TheDan64 opened #573 "Panics with 'implementation error, cannot get ref Int64 from Date64'"
#### Are you using Python or Rust?

Rust

#### What version of polars are you using?

Latest master, 04ec9ab4b66835c79cada2e4534c946a6c0361bb

#### What operating system are you using polars on?

Windows

#### Describe your bug.

Upgraded code to use latest polars, and it now panics instead of continuing to work correctly.

#### What are the steps to reproduce the behavior?

[code]

#### What is t

[2021-04-24 23:04] TheDan64 commented on #573
Features are `["lazy", "random", "temporal", "dtype-date64", "dtype-u64", "object"]`

[2021-04-25 00:05] rosykat commented on #428
Hi

[2021-04-25 06:38] ritchie46 commented on #573
Thanks, this should be fixed by #574.

[2021-04-25 07:43] #573 closed

[2021-04-26 14:09] abaspinar opened #580 "Polars ML"
#### Supporting Machine Learning Functionality

Hi,

I've been following the project for a while and I was wondering if it is planned to support some machine learning algorithms directly with Polars in the future.

What I think is something like Vaex-ml to support some preprocessing, Scikit-learn models and preferable some GBT like XgBoost.

Thanks a lot.

[2021-04-26 14:27] Vasilyeu opened #581 "Pandas - Polars: the same parquet file - different result"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.7.9

#### What operating system are you using polars on?

Linux Ubuntu

#### Describe your bug.

Reading the same file using pandas and polars gives different result:
1. In polars float column rounded ('frequency' column)
2. Categorical column ('db') in polars shown as int32. How can I convert it to stri

[2021-04-26 15:44] ritchie46 commented on #581
Can we break this down a bit? I assume you are joining a categorical column with a string/ categorical column from another data source?

For this to work. You need to set a global string cache.

But first let's look at the problem at hand. Could you perhaps send met the first 10 rows of the parquet file?

For the time being, you can load the parquet file with pyarrow and then use `pl.from_arrow` t

[2021-04-27 00:50] CHCP opened #582 "Reduce the occupied memory in new TAG py-polars-0.7.9"
#### Are you using Python or Rust?
**Rust**

#### Which feature gates did you use?
"temporal", "simd", "dtype-date64", "pretty_fmt", "downsample", "csv-file"

#### What version of polars are you using?

py-polars-v0.7.9

#### What operating system are you using polars on?

Ubuntu 18

#### Describe your bug.

Hi @ritchie46
  When I use version py-polars-0.7.6,  the memory is 33M while the binary ex

[2021-04-27 06:30] ritchie46 commented on #582
I think this may be because I removed the mimalloc memory allocator.  Could you set mimalloc as global allocator and see what happens? https://docs.rs/mimalloc/0.1.25/mimalloc/

[2021-04-27 08:17] CHCP commented on #582
Hi @ritchie46
  I change code like this:

Cargo.toml
[code]

src/main.rs
[code]

the occupied memory is 400M,
it is too much.

![image](https://user-images.githubusercontent.com/5645296/116208198-ff41f880-a783-11eb-9747-1dbfea9c17d8.png)

Then I changed the Cargo.toml file:
[code]

the occupied memory is 295M,
it is too much also.

![image](https://user-images.githubusercontent.com/5645296/1162085

[2021-04-27 08:38] ritchie46 commented on #582
I'd need a bit more information. Memory allocators often don't return free'd memory to the OS, so the peak memory usage remains the claimed memory. If this is problematic (and it often is not, because that free occupied memory will be reused), you need to prevent memory peaks.

I think they mostly occur while csv-parsing + rechunking. You can choose to not rechunk after csv parsing. This will cost

[2021-04-27 13:19] Vasilyeu commented on #581
Read parquet file with pandas, convert Categorical column to string and then convert to polars dataframe with function polars.from_pandas() solve all problems.

[2021-04-27 13:28] ritchie46 commented on #581
Great, that's exactly what

[2021-04-27 13:38] CHCP commented on #582
What information do I need provide?

How to non-rechunk after csv parsing?

[2021-04-27 16:43] #581 closed

[2021-04-27 18:25] ritchie46 commented on #582
I would need to see what you do (e.g. see your code) to get an idea where the memory usage come from. Perhaps you can profile your memory usage after different operations?

https://ritchie46.github.io/polars/polars_io/csv/struct.CsvReader.html#method.with_rechunk

[2021-04-27 23:26] CHCP commented on #582
Sure, some code as follows, hope to help you.

There are more than 200 csv files, each file will be processed to generate 10 periods OHLC values:

[code]

The OHLC code is:
[code]

[2021-04-28 01:22] CHCP commented on #582
Hi @ritchie46
  I tested the newest version ploars-0.13.1,  the occupied memory is 49M, I think it is normal.

  The code changed so fast,  I will use the stable version for a long time. Thanks for your help.

[2021-04-28 07:29] ritchie46 commented on #580
Hi @abaspinar, this is not really the scope of the project. I believe a tool should do one thing very well and be able to interact with other tools. In case of ML, Polars can expose data as numpy arrays (can be zero copy), pandas DataFrames, arrow arrays (zero copy), native Python lists, so I believe this makes interacting with `scikit-learn`, `XgBoost`, `pytorch` etc. as fast as it gets.

[2021-04-28 07:29] ritchie46 commented on #582
Ok, then I will close this one. :+1:

[2021-04-28 07:29] #582 closed

[2021-04-28 12:06] #580 closed

[2021-04-28 12:07] abaspinar commented on #580
Thanks a lot for the answer.

[2021-04-29 06:54] ritchie46 commented on #566
@rlmwang In the [new beta release](https://pypi.org/project/polars/0.7.10_beta.1/) you can do the example above entirely in window functions. Check:

https://ritchie46.github.io/polars-book/how_can_i/det_group_statistics.html#window-functions-

I will close this, as I think this is solved.

[2021-04-29 06:54] #566 closed

[2021-04-29 20:19] rlmwang commented on #566
Thanks for the reply. I was writing up a response, but this link to the beta version already looks much better.

Split-apply-combine covers many common use cases, and I am glad to see a dataframes project that makes it accessible.

[2021-04-30 10:38] jangorecki commented on #357
Updated comparison of all checks using polars 0.7.9
[code]

[2021-04-30 10:42] jangorecki commented on #357
I just spotted that casts to Int64 have been applied to aggressively in https://github.com/h2oai/db-benchmark/commit/c7ad6b0143c6f79c61aa43cf085080d0fe11ad87#diff-b9f18f8b66c6e7e35cdae2fc80bb752351481552f8f4004e1e311fd92a77fb0d
v3 is float64, so its results should not be casted to int, will fix.

[2021-04-30 10:52] ritchie46 commented on #357
So the differences in the checksum seem to be mostly by `v3`, and may be due to this unneeded `cast` operation AND the regression question which is subject of this thread?

I think I've fixed the regression behavior, but it is not yet released. I plan to release this afternoon, together with a fix for that `O(n^2)` behavior in the csv-parser. Can you wait for the run with a fix, so that new regres

[2021-04-30 11:18] jangorecki commented on #357
I amended types for `chk` computation in https://github.com/h2oai/db-benchmark/commit/3fc6e9fb4c77c447565cdac03aae9f49be541b8c.
Please ping me when new version will land on pypi.

[2021-04-30 15:38] ritchie46 commented on #357
@jangorecki it is on pypi.

[2021-04-30 20:28] jangorecki commented on #357
0.7.11
[code]

[2021-04-30 20:34] jangorecki commented on #357
I looked through those checksum briefly. Most of the issues got fixed but there seems to be still issues for data with NAs:
[code]

[2021-05-01 08:42] ritchie46 commented on #357
Great, were tuning in. I will investigate the last ones. Thanks for the feedback.

[2021-05-01 13:31] ritchie46 commented on #357
@jangorecki  Ok, I think all checksums are ok now:

[code]

I also made a [new patch release](https://pypi.org/project/polars/), because this is important to do correctly.

[2021-05-01 16:11] ritchie46 opened #596 "optimization rule `sort().reverse()` to `sort(reverse)`"

[2021-05-03 16:10] ghuls commented on #547
FYI: https://docs.rs/jlrs/0.10.0/jlrs/ :  provides a reasonably safe interface to the Julia C API that lets you call code written in Julia from Rust and vice versa. Currently this crate is only tested on Linux in combination with Julia 1.6 and is not compatible with earlier versions of Julia.

[2021-05-03 18:26] ritchie46 opened #599 "Series.cum_sum panics with overflow"

[2021-05-03 18:43] ritchie46 opened #600 "broken link: https://docs.rs/polars/0.13.1/polars/datatypes/index.html"
Linked from the datatypes module

[2021-05-04 03:57] jonathandturner opened #601 "Can we set up some time to chat? (nushell and polars)"
#### Describe your feature request

Hi, I work with the Nushell project and recently we had someone working on a PR to merge data frame support in Nushell. As part of that, I wanted to reach out and see if you'd be interested in chatting. It'd be good to get a more complete understanding of the current status and direction of polars and to also share our ideas for Nushell, to see where potentially

[2021-05-04 04:21] rajpratyush commented on #600
Can I fix this issue @ritchie46

[2021-05-04 07:11] ritchie46 commented on #601
Hi @jonathandturner, that's an interesting development. I am available for a chat. We could chat privately on [gitter](https://gitter.im/polars-rs/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge), or any other medium as well.

[2021-05-04 10:42] ritchie46 commented on #600
Next one! :smile: It was already fixed in  #602

[2021-05-04 10:42] #600 closed

[2021-05-04 23:35] markfairbanks opened #603 "Sort by multiple columns in different/alternating orderings"
It would be pretty useful if you could sort by multiple columns in polars.

This functionality is available in pandas (as well as data.table/dplyr in R).

pandas example:
[code]

This would more or less translate to this in polars:
[code]

Another possible syntax option using `col()`:
[code]

[2021-05-05 09:22] #599 closed

[2021-05-05 09:53] #596 closed

[2021-05-06 08:20] clouds56 commented on #560
what about Float64 with milliseconds, I have value `1514165998.465` and it would be interpreted as
[code]

[2021-05-06 09:02] ritchie46 commented on #603
See #607 for the implementation. This will probably land on PyPi this weekend (or you can compile from source if you want it earlier).

The syntax is similar to your second proposal:

[code]

The `reverse` argument influences the ordering of `all` column expressions. To influence a single column, you have to do an expression like `col("foo").reverse()`

[2021-05-06 09:37] ritchie46 commented on #603
Close this as it's implemented.

[2021-05-06 09:45] ritchie46 commented on #547
Nice, I think I will add a help wanter banner for this one. I can help in integration, but maintaining 2 API have turned out to be my max capacity. :sweat_smile:

[2021-05-06 10:39] ritchie46 commented on #560
Your floating point value seems to be in seconds. You first have to parse as float, multiply `* 1000` and then coerce to `Date64`

[2021-05-06 15:05] gitboy16 opened #608 "Documentation how to filter?"
Hi,

1/I couldn't find any documentation on how to filter a DataFrame column. Is there a page which explain how to do basic operations on DataFrames?

2/ I manage to load a csv file `shape(150000,60)` which takes about 25 seconds where `data.table::fread` from R takes 2 seconds. Is there a way to speed up `CsvReader::from_path` ? I tried with `with_n_threads(Some(1))` or 2 but it doea not seem to

[2021-05-06 15:40] ritchie46 commented on #608
Have you checked the docs? [Eager API](https://pola-rs.github.io/polars/polars_core/frame/struct.DataFrame.html#method.filter), [Lazy API](https://pola-rs.github.io/polars/polars/prelude/struct.LazyFrame.html#method.filter)

Which Polars version are you using? And did you compile with `--release`?

[2021-05-06 15:58] markfairbanks commented on #603
This is great, thanks 👍

[2021-05-06 16:07] gitboy16 commented on #608
1/Yes I saw those links but did not manage to filter on a small DataFrame I loaded. The first link does not have any example. Do you have a example on small DataFrame?
2/ Using 0.13.3. Wow, indeed with --release it is super fast. Sorry about that I just started using Rust yesterday.
Thank you

[2021-05-06 16:20] markfairbanks opened #610 "Allow filtering with a series/list with `.is_in()`"
It would be helpful if the `.is_in()` method would work with a series and/or a list.

pandas works with both, but even just a series would be very helpful in polars.

pandas example:
[code]

Syntax in polars:
[code]

[2021-05-06 16:34] markfairbanks opened #611 "Allow expressions to work inside `pl.arange()`"
Using `col()` expressions inside `pl.arange()` would be useful. The use case I ran into was to create a "rank" column on the fly.

On a side note, thanks for building out polars - best python package out there.

[code]

<sup>Created on 2021-05-06 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

[2021-05-06 16:38] gitboy16 commented on #608
I just run `CsvReader::from_path` on a 1GB csv file and got the following error:
[code]

[2021-05-06 16:45] clouds56 commented on #560
Thanks, I'm trying to achieve this by
[code]

How would you implement it if you would like to do the same?

[2021-05-06 17:11] ritchie46 commented on #560
[code]

[2021-05-06 17:15] ritchie46 commented on #611
Thanks for your ideas. Will work on them!

[2021-05-06 17:17] ritchie46 commented on #608
Could you show me an example of your code, and send me the CSV file you are parsing?

[2021-05-06 17:21] gitboy16 commented on #608
Data are private but I will try to build a similar csv file and come bqck to you.

[2021-05-06 17:34] ritchie46 commented on #610
What do you mean with a list?

[2021-05-06 17:53] markfairbanks commented on #610
In the example above `letters` is a series, but you can also filter using a list of values:

[code]

[2021-05-06 18:22] ritchie46 commented on #608
I added a docstring example: https://pola-rs.github.io/polars/polars_core/frame/struct.DataFrame.html#method.filter

[2021-05-06 18:27] ritchie46 commented on #610
Clear! :+1:

[2021-05-06 19:46] markfairbanks opened #613 "Add a `.str_slice()` method"
A `.str_slice()` method would be useful (or `.str.slice()` once #572 is implemented).

pandas docs: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html

[code]

Another possible syntax option would be `.str_sub(start, end)`. That option mimics R's stringr package.

[2021-05-07 09:40] gitboy16 commented on #608
Thanks for the example. I manage to filter on a dataframe using the function `eq` and creating an function based on your example but did not manage to filter on a dataframe directly...I don't find the rust syntax very friendly compare to R and Python...or maybe it is just me who does not know how to use it...

Otherwise I manage to create a csv file for you.
Here is the R code to create a dummy cs

[2021-05-07 09:47] ritchie46 commented on #608
Sorry, I don't have an R environent, could you make a Python script, or send met the file?

If you create a MWE, I could help you.

[2021-05-07 10:02] ritchie46 commented on #613
I see why that's useful. :+1:

[2021-05-07 10:05] gitboy16 commented on #608
I am at work now but as soon as as can I will try to create the file and send it to you. Basically the csv file contains 15 columns (str, f64..etc) 6 millions rows, and one column is special (column 9) which contains about 6000 rows with very long strings (i.e. 9187 characters long)...

[2021-05-07 12:55] ritchie46 commented on #611
For the time being, you could use a udf to get a hold on a `Series` during the lazy execution and then use that `Series` length to return a range.

[2021-05-07 14:24] #613 closed

[2021-05-07 14:56] gitboy16 commented on #608
It worked! I add `.low_memory(true)` following a example of CsvReader that I found at: https://able.bio/haixuanTao/data-manipulation-polars-vs-rust--3def44c8

Thank you. By the way the above link is super useful to learn how rust polar works. I think if you consider writing a blog post or doc explaining how to do various data manipulation task it could help people who are new to the language like

[2021-05-07 17:28] #611 closed

[2021-05-07 17:31] ritchie46 commented on #613
@markfairbanks this and the feature mentioned in the previous days are released now, so give them a spin!

[2021-05-07 18:30] ritchie46 commented on #608
That's correct, in eager you filter with syntac similar to pandas/numpy.

[code]

[2021-05-07 19:13] ritchie46 commented on #608
I added an example for python eager + lazy in the [user guide](https://pola-rs.github.io/polars-book/howcani/df/filter.html).

For Rust, those examples are in the docs. I am going to close this now.

https://datascience-enthusiast.com/R/pandas_datatable.html

There are a few examples in the examples folder. With regard to documentation, any help/ blog post is welcome. :wink:

[2021-05-07 19:13] #608 closed

[2021-05-07 19:40] markfairbanks commented on #613
Works great 👍

[code]

<sup>Created on 2021-05-07 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

[2021-05-07 19:43] markfairbanks commented on #611
Works great too 👍

[code]

[2021-05-07 19:47] markfairbanks commented on #610
This one doesn't seem to work for me:

[code]

[2021-05-07 19:51] markfairbanks commented on #603
This one seems to have some odd behavior too.

I included the pandas code to show "expected"

[code]

[2021-05-08 06:53] ritchie46 commented on #603
Right, what it currently does with an `col("foo").reverse()` expression, is reverting the column in the `DataFrame` and then sorting by the global sorting order (the reverse keyword in the kwargs). So the reverse expression should not be confused with the sorting order.

I checked the sorting behavior itself. That seems to be correct, but it should accept multiple sorting orders, no it is only pos

[2021-05-08 07:20] ritchie46 commented on #610
My bad, should be fixed in #610

[2021-05-08 07:33] sirinath opened #619 "Multi dimensional data"
Is it possible to add a sister project or even extend this to support multidimensional data like xarrays.

[2021-05-08 15:02] FlorianWilhelm commented on #608
@ritchie46 thanks for the explanation :-) BTW, what I really like about Polars so far is that it is quite close to the Spark API, which I find much superior to the complex and inconsistent Pandas API.

May I ask why you decided to make the lazy and eager APIs so different though? Wouldn't it be just nice to replace maybe in a long transformation chain just the first `read_csv` with `scan_csv` or v

[2021-05-08 15:57] ritchie46 commented on #608
When I started with the eager API, lazy didn't exist yet. I am slowly transitioning supporting all the expressions in `eager`, because I believe they are really superior than imperative `mask` temp values etc.

But, you have a point, it would be helpful the have a UNION between `eager` and `lazy`. This is very doable, I only need to dispatch `filter`, `select` and `with_column(s)` on a `DataFrame`

[2021-05-08 17:35] FlorianWilhelm commented on #608
Thanks for explaining the details. I also think that `filter` is mich better than temporary `mask` values. Really nice to see a library that dares to be different than Pandas. Thanks for your great work.

[2021-05-08 18:17] ritchie46 opened #621 "Python: Support complete `lazy` API in `eager`"
This is already almost true, but from now on, let's consider it a bug when this is not the case.
If we support the complete `lazy` API in `eager`, the expressions can be used in both API's, and there will be one idomatic way to do things in Polars.

The pandas like masking etc. will still work, but would not be considered idiomatic use of python polars.

[2021-05-09 09:07] ritchie46 commented on #619
It is all possible, but it would be a tremendous undertaking. As such it is not part of the scope of this project.

[2021-05-10 09:36] ghuls opened #623 "Unable to load Feather v2 files created by pyarrow and pandas."
#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.7.14

#### What operating system are you using polars on?
Ubuntu 20.04

#### Describe your bug.

Unable to load Feather v2 files created by pyarrow and pandas.

#### What are the steps to reproduce the behavior?

[code]

#### What is the expected behavior?

What do you think polars should have done?

Load the

[2021-05-10 10:34] ghuls commented on #623
[test_feather_file.zip](https://github.com/pola-rs/polars/files/6451392/test_feather_file.zip)

[2021-05-10 12:04] ritchie46 commented on #623
Right, we could add a `pyarrow` backend for this as well. Thanks for your bug report.

[2021-05-10 15:38] ptomecek commented on #535
Do you plan to implement predicate and projection pushdown as part of this solution? See also
https://github.com/dask/dask/issues/1957
https://github.com/vaexio/vaex/issues/864

[2021-05-10 16:29] ritchie46 commented on #610
Will investigate this one.

[2021-05-10 16:32] ritchie46 commented on #623
My bad, I wrongly assumed that it would return a table. Will fix this.

[2021-05-10 20:42] markfairbanks commented on #603
I'm still having some issues with this one too:

[code]

[2021-05-10 20:53] ritchie46 commented on #603
I thin that using the expression syntax here is confusing, as it does not dictate the sorting order (but instead reversed the column before you determine the sorting indices dor the df).

So we must look at the reverse kwarg. I will investigate this one as well.

[2021-05-11 06:24] #623 closed

[2021-05-11 07:41] #610 closed

[2021-05-11 08:38] ghuls opened #626 "Fix typo in str_replace"
https://github.com/pola-rs/polars/blob/a12134ecef21a6657af117bf8860471179b1cefe/py-polars/polars/series.py#L1306-L1316
Change `Replace first regex math with a string value` to `Replace first regex match with a string value`

[2021-05-11 11:35] ghuls opened #627 "Global StringCache does not work when creating dataframes with categorical data directly."
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?
0.7.15

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

Global StringCache does not work when creating dataframes with categorical data directly as opposed to first creating the dataframe and changing a column to Categorical.

#### What are the steps to reproduce t

[2021-05-11 11:46] ritchie46 commented on #627
Thank you for the issue report, I will look into it.

[2021-05-11 14:22] ritchie46 commented on #535
Eventually I hope to write a crate that allows querying to a database into arrow memory. Once that is in place, pushing down projection and predicates seems logical addition.

[2021-05-11 15:58] ghuls opened #630 "Allow specifying datatype of single scalar values."
#### Describe your feature request

Allow specifying datatype of single scalar values for arguments that accept a pyton int, float, ...:
  - Create a float32 value: pl.Float32(0.0)
  - Accept also numpy types: e.g. np.float32
  - Accept also pyarrow types: e.g.: pa.scalar(0.0, type=pa.float32())

[2021-05-11 16:50] ritchie46 opened #632 "Python: create typed literal"
It can be useful to set the type of a `lit` value. This can prevent unneeded upcasting and thereby increased memory usage/compute.

[2021-05-11 17:14] ghuls opened #633 "Expose `arg_sort` on `Expr`"
#### Describe your feature request

Expose `arg_sort` on `Expr`.

[code]

[2021-05-11 17:47] ritchie46 commented on #627
This one is fixed in #628

[2021-05-11 17:47] #627 closed, assigned to nobody

[2021-05-11 18:53] #633 closed

[2021-05-12 06:13] kawori opened #635 "read excel files to dataframe"
Sometimes our data is excel files, it's boring to transform excel to csv files.
Pandas provides ability to read data from much more file types.
I think it's important for polars to compelet this feature so that more users can use polars to do data analysis.

[2021-05-12 07:12] #632 closed

[2021-05-12 19:59] jangorecki commented on #357
AFAIU this patch release was 0.7.11, right? if so then it doesn't seem to be fixed

[2021-05-13 06:25] ritchie46 commented on #357
@jangorecki No the patch release was 0.7.12. And of course the latest version is also patched.

[2021-05-13 07:47] ritchie46 commented on #635
I don't think I will ever support that from the `Rust` side. For python coercing from a `pandas` `DataFrame` to a `polars` one is really fast. So you could just use:

[code]

We could wrap this in an utility function.

[2021-05-14 08:48] ritchie46 commented on #357
@jangorecki I found another null handling issue which only came up on `q1`. Will patch that this afternoon.

[2021-05-14 13:09] FlorianWilhelm opened #640 "NaN returned by mean aggregation of empty set"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

'0.7.15'

#### What operating system are you using polars on?

MacOS Big Sur

#### Describe your bug.

Using column expressions in groupby functions, I would expect to get "Null" if the filtering in the column expressions returns an empty set regardless of the actual aggregation function.

#### What are the

[2021-05-14 13:44] FlorianWilhelm opened #641 "Inconsistent parameter for output type"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

'0.7.15'

#### What operating system are you using polars on?

MacOS Big Sur

#### Describe your bug.

The parameter to define the output datatype is inconsistent in at least `apply` for `groupby` ([it's not even defined](https://pola-rs.github.io/polars/python/polars/frame.html#polars.frame.GroupBy.apply))

[2021-05-14 14:24] ritchie46 commented on #641
Right, Could you make a PR to rename them consistently?

[2021-05-14 14:25] ritchie46 commented on #640
Thanks for the issue report, I will look into this.

[2021-05-14 14:26] ritchie46 commented on #357
@jangorecki https://pypi.org/project/polars/0.7.16/ is the patch.

[2021-05-14 14:28] FlorianWilhelm commented on #641
Yes, will do.

One more thing related to that. Regarding `map` and `apply`, I find their meaning and what they actually do mixed up. For me `map` coming from mapping should be 1 to 1, i.e. scalar in scalar out, while `apply` is more general and thus works on a vector. With `map` you can create a custom aggregation function with the help of `groupby` which surely is not what you expect when you rea

[2021-05-14 14:48] ritchie46 commented on #641
Sort of out of synonyms there. My idea is that you can map over anything, as long as it returns the same type. So we `map` over a `Series`, but you must return a `Series`. (That is similar to 1 to 1 mapping)

For the `apply`, you `apply` a function over `Series`, but you don't return a `Series`, instead you return single values that will be used to recreate a `Series`.

[2021-05-14 14:51] ritchie46 commented on #630
The expression `lit` now accepts a `dtype` argument. This can be used to create single scalar value. Numpy arrays are also accepted.

[2021-05-14 15:00] FlorianWilhelm commented on #641
I think a lot of people still have the Map & Reduce in mind. There the map step means that you define a function that has access only to a single element or some atomic entity. BTW, in your definition, you map `Series` to `Series` but the shape of input and output `Series` might change, in this case, it's no longer a 1 to 1 mapping for me.

I am preparing a little Tech Session where I want to pres

[2021-05-14 15:22] ritchie46 commented on #641
Yes, That is not a perfect fit (regarding dtype and length). However, coming from `pandas`, a lot of users expect `apply` to `apply` over the elements, so that's what I want to keep using. If you have a better naming for the `map` I will think about an alias.

I am preparing a little Tech Session where I want to present Polars (stealing from your docs, I hope that's fine ;-). Check out the Aggregr

[2021-05-14 15:41] FlorianWilhelm commented on #641
[code]
Okay, thanks, that's actually much nicer than my solution. So if `map` kind of always gets the whole data of the column and I thus need to define a function that takes a `pl.Series` and returns a `pl.Series`, why do I have to define the return type with the help of a `pl.udf` sometimes as you show in one of your examples? The output `Series` has a type anyway right? So if I return it I defi

[2021-05-14 18:55] ritchie46 commented on #641
Yes, The UDF, is not needed anymore. I think I can better remove it, as it may be confusing. Anyhow, you may add a return `dtype`. This may slightly speed up things. If you don't specify a return type, polars tries to infer one. If it fails (because all values are `null`), it may panic.

    * map is Series to Series mapping,
    * apply maps an atomic entity within the context, i.e. element like

[2021-05-15 06:49] FlorianWilhelm commented on #641
Thanks for pointing this out, I think it's great that `udf` is not needed, makes it much easier to define the return type directly as parameter. BTW, I renamed everything to `dtype_out` but am not sure if the name is so good. PySpark uses `returnType` which would be `return_type` in Python-style. It's somewhat more lengthy than `dtype_out` but might be easier for users to understand.

[2021-05-15 08:59] ritchie46 commented on #641
`return_dtype` is also fine by me. :+1:

[2021-05-15 09:49] FlorianWilhelm commented on #621
Currently, the Python docs demonstrate Polars features using the Pandas subscription syntax like [here](https://pola-rs.github.io/polars-book/user-guide/dsl/intro.html#count-unique-values). This does not work with `LazyFrame`.  I think a lot of Python users will just jump on the subscription syntax as they already know Pandas. Then they will get confused when starting to work with lazy execution.

[2021-05-15 10:03] FlorianWilhelm opened #644 "Indexing is really confusing"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.7.15

#### What operating system are you using polars on?

MacOS Big Sur

#### Describe your bug.

Indexing for rows and columns works differently if a scalar or list is passed.

#### What are the steps to reproduce the behavior?

[code]

vs.

[code]

**Example**
![image](https://user-images.githubuserco

[2021-05-15 10:19] ritchie46 commented on #644
Hmm.. that's an accidental side effect. I don't know if I even intended support for this kind of indexing. But its a trivial addition, so I will look into it.

[2021-05-15 10:37] ritchie46 commented on #603
Python `polars == 0.7.16` now has this behavior:

[code]

[2021-05-15 10:38] #641 closed

[2021-05-15 10:38] #640 closed

[2021-05-15 10:48] ritchie46 commented on #640
@FlorianWilhelm You'll have to compile from source (or wait a week), but it's fixed now.

[2021-05-15 10:51] FlorianWilhelm commented on #640
That was fast! Thanks!

[2021-05-15 11:52] #644 closed

[2021-05-15 12:43] imvansh25 opened #646 "Dataset not loading"
#### Are you using Python or Rust?

 **Python**.

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.7.12

#### What operating system are you using polars on?

Windows 10

#### Describe your bug.

Hi, I have been trying to use a large dataset around 6.2 GB. Howsoever it is not working. My aim was to see how much time polars ta

[2021-05-15 12:50] ritchie46 commented on #646
Could you update to the latest version `0.7.16` and try again? Btw. Did `read_csv` do run?

[2021-05-15 13:01] imvansh25 commented on #646
[code]
No, read_csv(.., use_pyarrow=False)  didn't run.

[2021-05-15 13:06] imvansh25 commented on #646
How ever for a small dataset around 500 mb. read_csv was working fine.

[2021-05-15 13:09] ritchie46 commented on #646
You did not update, run:  `pip3 install polars==0.7.16`.

How much memory have you got? Maybe you are swapping? And there is a low memory option in the reader.

[2021-05-15 13:10] kkonghao opened #647 "Cell operation in dataframe like pandas's at function"
Hi,do polars have plan to support at method to get or change cell value in dataframe with index and column like pandas ? https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html?highlight=#pandas.DataFrame.at

[2021-05-15 13:33] imvansh25 commented on #646
![Capture](https://user-images.githubusercontent.com/44816642/118363047-2ab04a00-b5b0-11eb-92d7-31af02871e7a.PNG)
I have updated. I have 8GB ram

[2021-05-15 13:38] ritchie46 commented on #646
Yes, then I expect that you're machine is swapping. A `6.2` GB csv file on disk may expand to over 8GB in ram, depending on the `dtypes`, heap fragmentation and probably other things.

You could try `read_csv(use_pyarrow=True)` or `read_csv(low_memory=True)`. If it still doesn't fit, you may need to reduce the `Int64` integers to `Int32` (same with floats), or read less rows.

I will also add `low

[2021-05-15 13:53] imvansh25 commented on #646
[code]

still no luck

[2021-05-15 14:04] ritchie46 commented on #646
You could try `read_csv(use_pyarrow=True)` OR `read_csv(low_memory=True)`, not together. If both do nothing, I really think you are out of memory. Can you check your swap?

[2021-05-15 14:08] ritchie46 commented on #630
@ghuls, I am closing this one. We don't support `pa.scalar`, but that concept doesn't really exists in Polars, so I skipped that one. The rest works with the new `lit` expression.

[2021-05-15 14:08] #630 closed

[2021-05-15 14:20] imvansh25 commented on #646
Both not working.
![Capture](https://user-images.githubusercontent.com/44816642/118364625-d0ff4e00-b5b6-11eb-996b-2769173dfd92.PNG)

[2021-05-15 17:12] ritchie46 commented on #646
I think you are out of memory and that you swapping to virtual memory. That is very slow and therefore it may seem that it never finishes. You can reduce the size of the csv and check if the problem ceases to exist.

[2021-05-15 17:29] imvansh25 commented on #646
It works fine on 500 MB dataset.

[2021-05-15 17:57] jangorecki commented on #357
I can confirm it is fixed using 0.7.16. If possible please ensure you have unit tests for those so we can avoid debugging same issues in future.

[2021-05-15 17:57] #357 closed

[2021-05-15 19:07] zhangyingmath opened #649 "inconsistent behavoir in row selection with boolean mask"
version 0.7.16.
[code]

I am surprised that the fourth row is selected.
 Compare:

[code]

Now the fourth row is not selected. What is going on here?

[2021-05-15 19:50] zhangyingmath opened #650 "selection/modification based on position"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.7.16

#### What operating system are you using polars on?

Linux Mint 19

#### Describe your bug.

Unexpected behaviour when I do selection on a df based on position.

#### What are the steps to reproduce the behavior?

**Example**

[code]
I thought I am selecting a cell, but I got a series in return,
[c

[2021-05-16 07:18] ritchie46 commented on #649
Thanks for reporting this issue, I will look into this.

[2021-05-16 08:06] ritchie46 commented on #649
https://github.com/apache/arrow-rs/issues/295

https://github.com/apache/arrow-rs/pull/296

[2021-05-16 08:44] ritchie46 commented on #357
Yes!

[2021-05-16 08:47] ritchie46 commented on #647
Due to the memory layout being immutable, I don't want to make it too easy to modify single values, as they are bad practice and will yield very bad performance. If you need to modify values its best to do this on a whole column based on a `mask`/ `predicate`.

[2021-05-16 08:49] ritchie46 commented on #650
This will be fixed in #651. This behavior was simply not yet supported. If you encounter more indexing oddities, please let me know.

[2021-05-16 11:15] #650 closed

[2021-05-16 14:05] zhangyingmath commented on #649
Thanks @ritchie46! As an aside, when I have a column of booleans, True is represented as "true", False is "false", is there a reason for this?

[2021-05-16 15:47] imvansh25 commented on #646
@ritchie46  The same dataset(6.2 GB) is loaded by libraries like pandas and datatable.

[2021-05-17 10:01] ritchie46 opened #652 "POOL.join binary aggregation."
These columnar binary aggregation could be evaluated on different threads.

[2021-05-17 10:02] ritchie46 commented on #649
Python is one of the few languages that uses boolean that start with a capital letter. Polars is written in rust, where booleans are all low caps.

[2021-05-17 13:52] zhangyingmath commented on #649
I see, thanks! So you are saying the lower case representation comes from Rust.

[2021-05-17 15:31] markfairbanks commented on #603
Just gave this a test run - works great!

[2021-05-17 15:31] #603 closed

[2021-05-17 15:44] zhangyingmath opened #653 "Enhance elementwise missing value support"
#### Describe your feature request

So, a vague way to describe what I want is "sth should behave the same way whether as part of a structure or as a standalone element". Here is what I meant:

I like the fact that in polars, you can put python None as part of an int/str/float column, and it is represented as Null. (of course, you can also have np.nan in a float column.) Column comparison/arithmet

[2021-05-17 17:19] ritchie46 commented on #653
I don't understand problem with checking of a `None` value to be honest. If I would create a dummy type `pl.None`, the object creation and the dynamic dispatch of the arithmetic methods would be much more expensive than checking for `None`.

If you want to ignore the Null/None values, you can use a `Series.apply(lambda x; ..)`. An `apply` skips the null values and then you don't have to do any che

[2021-05-17 17:59] #652 closed

[2021-05-18 00:22] tbro commented on #83
This appears to be mostly working. What tasks do you need help with?

[2021-05-18 06:41] ritchie46 commented on #83
Yes, I made a small POC.

I wanted to mimic the python api, but some things were not yet possible in wasm bindgen, such as sending a `Vec<Series>`, to a `DataFrame`. So I was thinking that we probably want some javascript wrapper `DataFrame` and wrapper `Series` (I also have that in Python) that can use things like builder patterns under the hood to mimic the Python API.

What it boils down to is

[2021-05-18 07:27] ritchie46 opened #655 "Add arrow struct type support"
This is mostly a mechanical copying of other trait implementations.

* [ ] Add struct datatype
* [ ] Make `ChunkedArray<StructType>` an iterator
* [ ] Implement `dyn SeriesTrait` and required subtraits

[2021-05-18 16:36] markfairbanks opened #660 "Multiple when/then statements in one call"
Would it be possible to extend `pl.when().then().otherwise()` to allow multiple `when().then()` statements?

Something like this:
[code]

[2021-05-18 18:32] markfairbanks opened #661 "Allow single expressions in `.with_columns()`"
It seems like `.with_columns()` is the only method that requires a list of expressions. `.agg()` and `.sort()` both allow single expressions.

[code]

This can currently be accomplished with `.with_column()`, but it seems like it would simplify the API if `.with_columns()` allowed this as well.

[2021-05-18 18:54] ritchie46 commented on #661
Sure. Could you make a PR with that behavior?

[2021-05-18 19:59] markfairbanks commented on #661
I don't think I can unfortunately. Python isn't my strong suit - I typically code and develop packages in R. My python coding skills don't extend much past using packages like pandas/polars/numpy.

[2021-05-19 11:06] ritchie46 commented on #661
No worries. I'll pick it up!

[2021-05-19 11:08] ritchie46 commented on #660
Hmm.. The current syntax maps to the nesting that actually happens in the query engine. I think we should see if we can write some Python that translates the first into the second.

[2021-05-19 12:11] ghuls opened #665 "Renamed column not found with groupby without projection_pushdown=False"
#### Are you using Python or Rust?

*Python**.

#### What version of polars are you using?

0.7.16

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

Renamed column in lazy dataframe not found with groupby without projection_pushdown=False if the same column name is used in the agg part.

#### What are the steps to reproduce the behavior?

[code]

[2021-05-19 12:20] ghuls opened #666 "Accept multiple columns for arg_sort"
#### Describe your feature request

Accept multiple columns for `arg_sort`, (similar to `sort(by=` with multiple columns).

[2021-05-19 13:35] bmschmidt opened #668 "from_arrow conversion ignores array slicing"
Thank you for your work on this excellent project.

#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.7.16

#### What operating system are you using polars on?

OS X 10.14.3

#### Describe your bug.

When using `pl.from_arrow` on python tables with utf8() columns, something is happening that doesn't respect existing slices of arrays.

#### What are the steps

[2021-05-19 15:54] #661 closed

[2021-05-19 16:20] ritchie46 commented on #668
Thanks for your issue report. I will look into it.

[2021-05-19 16:59] domoritz commented on #83
Very cool. What do you think about returning Arrow from the WASM context to the JS context and then exposing it to users via the [Arrow JS library](https://arrow.apache.org/docs/js/)? The idea is to use Arrow as an IPC format between WASM and JS. You could also use Arrow as an IPC between a web worker and the main thread. We've done something similar in another WASM project with great success.

[2021-05-19 17:18] alippai commented on #83
@domoritz I was thinking about the WASM solution as a replacement for Arrow JS, but your proposal actually makes sense. There is no need for duplicate ChunkedArray->Primitive->ChunkedArray implementation in polars, that can be shared with Arrow JS. I assume it's not hot code path and when it is (strings, array of numbers) it'll have to be in JS land anyways. I'm not sure about the schema, dictiona

[2021-05-19 17:35] domoritz commented on #83
Glad you like the proposal. We've actually had our own iterator implementation first as well and then switched to Arrow JS so we don't duplicate work. It's been a good decision and I agree that the performance should be almost unaffected (if not better since we avoid repeated calls into wasm).

Not sure I understand the question but I'll try to answer it. If you send record batches from wasm to js

[2021-05-19 17:45] alippai commented on #83
My question was that would we use the full Arrow IPC for messaging or a simpler / lower level component, specific "ChunkedArray" types (as pyarrow refers to them). I don't think eg. pyarrow uses Apache IPC for arrow<->pyarrow communication. Is pyarrow <-> arrow communication a wrong model here (it has similar calling cost, primitives, lista and complex types are different etc)?

[2021-05-19 17:54] domoritz commented on #83
You could probably use the arrow vectors (which we are changing to be always chunked) but I'm not sure of the benefits. The difference in Python, I think, is that communication between contexts is cheaper. In WASM, you still would need to get e.g. the schema across the boundary, and Arrow's binary format would be more efficient than say JSON. But I might be wrong. I'd say try they simplest solutio

[2021-05-19 17:56] domoritz opened #670 "Update rust user note"
I think https://github.com/pola-rs/polars#rust-users-read-this can be updated since Arrow Rust now has more frequent releases from https://github.com/apache/arrow-rs.

[2021-05-19 18:21] #665 closed

[2021-05-19 19:13] alippai commented on #83
This was my question. Does the JS part have to know anything about headers, footers and metadata? I don't think a python<->c++ call is cheaper than JS<->WASM. I might be wrong, but I know that WASM functions are cheaper to call in NodeJS than their C++ implementations.

[2021-05-19 19:25] fehtemam opened #671 "from_pandas error"
Trying to convert from pandas dataframe that has a dtype of object and getting a traceback that goes to:

File "/venv/lib/python3.7/site-packages/polars/functions.py", line 400, in from_pandas
    if dtype == "object" and isinstance(df[name][0], str):

df[name][0] does not work for getting the first element of a column. It should be df[name].iloc[0].

[2021-05-19 19:26] ritchie46 commented on #83
I think that whatever is feasible we should investigate. Ideally I'd like to have a seamless interop with js-arrow and Polars `Series` similar to how that works in Python Polars.

For interop with pyarrow (e.g. C++ arrow) / Rust arrow we use [the arrow C data interface](https://arrow.apache.org/docs/format/CDataInterface.html). This is zero-copy and we just send some pointers around. I don't think

[2021-05-19 19:28] ritchie46 commented on #671
Good catch. I will fix that.

[2021-05-19 20:31] ghuls opened #672 "pl.Categorical columns can't be converted back to arrow."
#### Are you using Python or Rust?

**Python**.

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.7.16

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

`pl.Categorical` columns can't be converted back to arrow.

`RuntimeError: Any(ArrowError(InvalidArgumentError("column types must

[2021-05-19 20:44] ghuls commented on #672
[code]

[2021-05-19 22:37] ankoh commented on #83
You are right that the C data interface is the best way to interop with languages that can somehow consume these C headers.
But arrow-js cannot read the C data interface today.
Conceptually, this would require the arrow-js devs to interpret the C headers and all the pointers manually out of your wasm heap which is rather unrealistic.
A compromise would be to consume the C data interface on the was

[2021-05-19 23:21] abuckenheimer opened #673 "Binary Type polar series"
#### Describe your feature request

Hi, awesome library, I was trying to use polars to extend some of the work I was doing with arrow today in python and noticed that polars errors out trying to create binary series:
[code]
Is this expected? If so I would love to see binary types supported.

Thanks!

[2021-05-20 08:53] #671 closed

[2021-05-20 12:13] ritchie46 commented on #672
The Error should be fixed by #672. However there is quite a big gotcha with `Categorical` date and `arrow`. Polars does not use the `dictionary-encoded` array. I chose not to because reverse lookups (from key to string) are `O(n)` in these arrays.

For this reason I used by own representation for dictionary encoded data. This makes it more useful with a large number of unique `string` values. Howe

[2021-05-20 12:14] ritchie46 commented on #673
This is not supported indeed. Does a type `LargeList[UInt8]]` make sense for binary data?

[2021-05-20 13:17] abuckenheimer commented on #673
hmm I suppose both of those could work, is there an easy way to cast the `pa.Table` / `pa.Array` types? Would be nice if I didn't have to convert my `pa.Table` into a pandas dataframe to do this.

[2021-05-20 13:46] roee88 opened #677 "Consider using master of phsym/prettytable-rs"
polars depends on the last release of prettytable-rs (v0.8.0). However, this version does not compile to wasm-wasi target while the master version does.

## Details

The reason is that 0.8.0 depends on `term 0.5` which itself depends on `dirs 1.x` that is incompatible with webassembly. However, the master version of `prettytable-rs` depends on `term 0.6` which uses `dirs 2.x` that actually works w

[2021-05-20 14:26] ritchie46 commented on #677
I believe that if we point to the github branch that I cannot push to `crates.io` anymore. For this reason I am more inclined to adding a `patch` example to the documentation. What do you think?

[2021-05-20 15:10] roee88 commented on #677
That would be very useful

[2021-05-20 17:07] ritchie46 commented on #670
You are right, I can update that now. :+1:

[2021-05-20 17:11] ritchie46 commented on #673
Yes, pyarrow has a `cast` kernel in `pyarrow.compute.cast`. Here are some examples on how those can be used: https://github.com/pola-rs/polars/blob/d93cc409fc1e389c6d6f29cd2c04de86b1a3820d/py-polars/polars/utils.py#L4

[2021-05-20 18:49] roee88 commented on #677
I would be more explicit in the docs about the target.
Printing doesn't work on `wasm32-unknown-unknown`, it only applies to `wasm32-wasi`.

[2021-05-20 18:51] #677 closed

[2021-05-20 19:14] ritchie46 commented on #677
Sorry, I am not that familiar with wasm targets, is `wasm32-unknown-unknown` the same as `wasm32-wasi`?

[2021-05-20 19:41] roee88 commented on #677
Rust supports different wasm targets*:
* `wasm32-unknown-emscripten` generates wasm and js to be used in a browser.
* `wasm32-wasi` generates standalone wasm with system interface support (so things like print works). This is what is usually used for running wasm outside the browser (with tools such as wasmer, wasmtime, wavm, ...) although it can also be used from within the browser. See https://d

[2021-05-20 19:49] roee88 commented on #677
BTW excluding avx512 all features of polars-core can be enabled and it would still compile to wasm32-wasi. It requires https://github.com/apache/arrow-rs/pull/324 and the patching of prettytable-rs though.

For polars-lazy the csv-file feature must be changed to optional before it compiles. I did a quick compile check by adding `#[cfg(feature = "csv-file")]` where it's used (similar to parquet) an

[2021-05-20 19:56] ritchie46 commented on #677
wasm32-unknown-emscripten generates wasm and js to be used in a browser.
    wasm32-wasi generates standalone wasm with system interface support (so things like print works). This is what is usually used for running wasm outside the browser (with tools such as wasmer, wasmtime, wavm, ...) although it can also be used from within the browser. See https://docs.wasmer.io/integrations/js/wasi, https:/

[2021-05-21 13:46] ritchie46 opened #680 "Compile polars-lazy on target `wasm-asi`"
See discussion #677

[2021-05-21 20:26] #649 closed

[2021-05-21 20:26] #670 closed

[2021-05-21 20:27] #601 closed

[2021-05-22 18:45] elferherrera opened #684 "Panic on aggregation function"
#### Are you using Python or Rust?

**Rust**

#### Which feature gates did you use?

Parquet, json

#### What version of polars are you using?

0.13.3

#### What operating system are you using polars on?

MacOs

#### Describe your bug.

Getting a `DataMisMatch` panic when calculating `var` and `std` on a group by

[code]

#### What are the steps to reproduce the behavior?

Load this dataset:
[code

[2021-05-22 19:36] ritchie46 commented on #684
Thanks! this is fixed in #685

[2021-05-22 19:47] FlorianWilhelm opened #686 "Indexing is still quite inconsistent"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

'0.7.17'

#### What operating system are you using polars on?

MacOS Big Sur

#### Describe your bug.

Similar to the solved issue #644, the indexing is still really confusing, i.e. it's not really clear when and where a column or a row is selected.

#### What are the steps to reproduce the behavior?

Colum

[2021-05-22 20:09] ritchie46 commented on #686
I agree with most of what you are proposing. If you can make a PR that would be great!

There are already some indexing tests [here](https://github.com/pola-rs/polars/blob/2b05f35d6c09eb53b8280f49e262f96a3c082647/py-polars/tests/test_df.py#L33)

The only inconsistincy that I'd like to keep is being able to select columns on the first axis with strings; `df["foo"]` and `df[["foo", "bar"]]`. I belie

[2021-05-22 20:41] #684 closed

[2021-05-22 20:49] FlorianWilhelm commented on #686
Thanks for the fast reply. So the only difference is in:

* **only strings**
       * axis 0: column
       * axis 1: error

I agree that this would be possible as Polars only allows strings as column names (as opposed to Pandas) and the index is always an integer. Consequently, there should be no ambiguity.

One more thing that came to my mind when I was thinking about all this. Why is there a `S

[2021-05-23 06:53] ritchie46 commented on #686
Series are the `Column` representation of a DataFrame. I believe spark is row based and does have a `Row` type. Polars memory is columnar and typed. The columns are represented by `ChunkedArray<T>` where `T` is generic over the available polars datatypes. A `Series` is a thin wrapper around a `ChunkedArrray<T>`, needed to be able to put them in a `DataFrame`.

This is a side effect of the flawed i

[2021-05-23 13:23] ritchie46 commented on #686
@FlorianWilhelm I already fixed it, it bugged me too. I will push in a few minutes and patch a new release.

[2021-05-23 13:47] #686 closed

[2021-05-23 21:43] FlorianWilhelm commented on #686
Ok, thanks. Maybe next time I am faster 😉

[2021-05-24 10:44] FlorianWilhelm commented on #686
Regarding my serious, äh, series question (pardon my pun), I understand that internally a column-based structure like a series, i.e. `ChunkedArray<T>` is needed but isn't this just an implementation detail? I wonder if it should be exposed to the high-level user interface as for instance SQL returns a table even if you select a single column. Also R's `data.frame` seems to return a new `data.frame

[2021-05-24 12:43] ritchie46 commented on #686
I believe spark is a bit more abstract. You can only communicate with the query engine and column you select may be row oriented, or column oriented somewhere on disk. I believe that Polars lazy or in expression context is already as you describe. A projection returns another `DataFrame`.

I believe that it makes sense to have a `Series`/ `Column` abstraction. For instance you could check dynamica

[2021-05-24 13:57] FlorianWilhelm commented on #686
Thanks for the explanation. I see the point that it is easier to define the datatype for a UDF working on a series.

I just checked version '0.7.17'. I think it's still inconsistent, in my notebook I have:

![image](https://user-images.githubusercontent.com/3184072/119358079-8c576f00-bca8-11eb-8bd9-3e527bce3a69.png)

Shouldn't `edf[1]` show the same as `edf[[1]]`?

[2021-05-24 14:23] ritchie46 commented on #686
Ah, I see I forgot about that one. The second behavior is as it should be. Are you still up for the PR? ;)

[2021-05-24 15:14] FlorianWilhelm commented on #686
Yes :-) but it will take a couple of days if that's fine.

[2021-05-24 15:16] FlorianWilhelm commented on #686
BTW, I also updated my [polars_vs_pandas notebook](https://github.com/FlorianWilhelm/polars_vs_pandas/blob/master/pl_vs_pd.ipynb). Removed the now unnecessary definition of the `udf` and extending the indexing section a bit more. Let me know if you have comments.

[2021-05-24 17:38] hakantekbas opened #689 "cum_sum example request"
Hi;

I'm trying to calculate cum_sum in aggregation. But it throws error. Can you share an example showing how cumsum should be used in aggregation. I think that I'm missing something. Thanks for a fast package like this. It is as fast as data.table in R

`ozetData.with_column( pl.when(pl.col("passenger").is_null()).then(0.0).otherwise(pl.col("passenger")).cast(pl.Float32).alias("passenger") ) \

[2021-05-24 19:23] ritchie46 commented on #689
What you are doing is correct. There was an implementation error. That is fixed in #691.

I plan to release next week, but you could already compile from source if you need this.

And you are welcome. :)

[2021-05-25 06:55] FlorianWilhelm commented on #535
CC @xhochy, @MathMagique

[2021-05-25 08:30] ritchie46 commented on #689
This is indeed not yet supported, but can trivially be added. Could you open a feature request for this? Then I will look into it.

[2021-05-25 08:42] ghuls commented on #672
Seems like the coercing is not done at the moment even tough the help seems to indicate it.

[code]

I think it would be useful to have an option to coerce pl.Catergorical to arrow dictionary encoded and just string representation.

[2021-05-25 08:57] hakantekbas opened #692 "support for more than one feature in over clause"
Hi;

Definition of method is

(
self, expr: Union[str, Expr]) ‑> Expr

My expectation is to support multiple expression (fields) like below.

(
self, expr: Union[Expr,List[Expr]]) ‑>

Thanks

[2021-05-25 09:27] ghuls commented on #666
Seems like `argsort` does not work with multiple columns when the data of the second column needs to be used for sorting.

[code]

Also should `argsort` be exposed on the dataframe itself like sort?

[2021-05-25 11:05] ritchie46 commented on #689
Added in #691

[2021-05-25 11:05] #689 closed

[2021-05-25 11:07] ritchie46 commented on #668
Is merged upstream

[2021-05-25 11:07] #668 closed

[2021-05-25 12:06] ritchie46 commented on #666
@ghuls this is now fixed in #693 .

IMO not. `sort` sorts the `DataFrame`, `argsort` does not. IMO you should use it in a context, e.g. you `select` some columns from a `DataFrame` that would be sorted by that indexes.

[2021-05-25 12:18] ghuls commented on #666
Will the `all_series_to_supertype` function also work when one column is e.g Utf8 and others are Int and/or Float columns?

[2021-05-25 12:28] ritchie46 commented on #666
[Yes!](https://github.com/pola-rs/polars/blob/7fddd584ef01cf451289e0fd9717f49c73e8b800/polars/polars-core/src/chunked_array/ops/sort.rs#L276)

[2021-05-25 14:11] ghuls commented on #666
Seems to work indeed.

argsort probably also needs a check similar to `sort` to see if number of columns is the same than number of reverse args:

[code]

[2021-05-25 15:29] abuckenheimer commented on #673
sorry I'm a bit of an arrow noob and have not been able to figure out how to do the conversion. Would you like me to close this issue as an unsupported? or keep it around?

[2021-05-25 16:37] ghuls commented on #666
It would be good if the casting to supertype was not necesary, but would use the native type of each column. I guess it now converts the Float32 column to Int64:

[code]

[2021-05-25 21:27] ghuls opened #698 "Addiing a column on a lazy dataframe with a named pl.Series does not allow using that name in the next `with_column` statement."
#### Are you using Python or Rust?

Replace this text with the **Rust** or **Python**.

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.7.18 f7a6962abc64e501f8464186602e2ddf219673cb

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

Addiing a column on a lazy dataframe with a named

[2021-05-26 08:28] Nimpruda opened #701 "General question: Convert a vec of Bson/Struct to a polars dataframe"
Hello,

I have a use case where I need to request data from a Mongo database (I use the mongodb package), it gives me back an Array of Structures. I cannot do my operations in database so I'd like to use a polars dataframe to compute kpis.
The only problem is I cannot find out how to create a dataframe from an AoS. How would you do this ?

Great job by the way!

[2021-05-26 08:37] ritchie46 commented on #701
You need to unpack the structs and add the values with one of the [builders](https://github.com/pola-rs/polars/blob/master/polars/polars-core/src/chunked_array/builder/mod.rs). Another option is to create a vec of values and convert that to `Series`

[2021-05-26 12:47] ritchie46 commented on #698
Should be fixed now.

[2021-05-26 12:47] #698 closed

[2021-05-26 15:59] xhochy commented on #535
👋 Happy to support here but `turbodbc` exports `pyarrow.Table` instances; this should suffice, no? (Hint: I haven't yet used `polars`, so I have no idea whether this works flawlessly).

[2021-05-27 06:41] ritchie46 opened #704 "reduce groupby code bloat"
transmute f32, i32 -> u32
transmute f64, i64 -> u64
cast small integers to u32

[2021-05-27 06:43] ritchie46 opened #705 "improve argsort with multiple columns"
currently we check type -> vtable lookup to downcast -> determine ordering with vtable `get`

we can reduce that to a vtable function that returns ordering (add to TakeRandom trait).

[2021-05-27 15:38] ritchie46 opened #709 "remove arrow csv logic"
No need to compile that

[2021-05-27 15:38] ritchie46 commented on #704
Added in #708

[2021-05-27 15:38] #704 closed

[2021-05-28 07:16] ritchie46 commented on #535
Yes, this should work. We can can use `pl.from_arrow`, which is zero copy in most cases. I know @YuRiTan tried this earlier, but there were some problems which I don't remember.

I think I should just give this another try. :)

[2021-05-31 14:55] ritchie46 opened #713 "strhash still has double hash. (Use idhash)"

[2021-06-01 16:26] ritchie46 commented on #709
Removed

[2021-06-01 16:26] #709 closed

[2021-06-01 16:27] ritchie46 commented on #692
This has beed added.

[2021-06-01 16:27] #692 closed

[2021-06-01 16:27] #701 closed

[2021-06-01 19:38] ritchie46 commented on #572
closed in #715

[2021-06-01 19:38] #572 closed

[2021-06-02 07:26] volksen opened #720 "dataframe.sample() method samples each column inconsistently"
#### Are you using Python or Rust?

Python

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.7.19

#### What operating system are you using polars on?

Ubuntu 18.04

#### Describe your bug.

DataFrame sample function mixes columns (apparently each column is sampled individually)

#### What are the steps to reproduce the beha

[2021-06-02 07:58] ritchie46 commented on #720
Thanks for the issue report. I will fix this.

[2021-06-03 08:58] #672 closed

[2021-06-03 14:45] ghuls opened #727 "`read_csv()` crashes when column indexes are given to `projection` but `None` is passed to `columns`."
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.1

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

`pl.read_csv` crashes when `projection=[5, 6]` is given, but `columns=None`. With `columns=["column_5", "column_6"] it works.
`projection=None` and  `columns=None` also works.

Also `new_columns` is not liste

[2021-06-03 15:17] ghuls commented on #727
Something else I noticed. `pyarrow=True` and `pyarrow=False` infer a different type for column 2 ("NA").
In this case column 2 is always "NA" so polars will never see a number in that column to convert "NA" to null.

Also `pyarrow=True` option will not always use pyarrow, if there are unsupported options.
nthreads could be passed to pyarrow.

[code]

[code]

[2021-06-03 15:22] ghuls opened #728 "Allow setting maximum amount of threads to use in parallel operation."
#### Describe your feature request

Allow setting maximum amount of threads to use in parallel operation.

e.g. pyarrow has this option:
[code]

[2021-06-03 15:22] jangorecki commented on #357
I noticed that from 0.7.18 to 0.7.19 there are some changes in checksum values.
[code]

[2021-06-03 15:28] jangorecki opened #729 "NAs handling changed in 0.7.19"
I noticed that from 0.7.18 to 0.7.19 there are some changes in checksum values for NA data cases.
[code]

This is count of rows of queries, so probably NA group is omitted
[code]

[2021-06-03 15:33] jangorecki commented on #729
please include unit tests for those use cases :)

[2021-06-03 17:51] ghuls opened #731 "PanicException when using `explode` with list of columns not in order."
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.1

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

`explode` panics when using a list of multiple columns when those columns are not in the same order as in the original dataframe.

#### What are the steps to reproduce the behavior?

[code]

#### What is the

[2021-06-03 18:20] ghuls opened #732 "Allow specifying precision for printing Floats."
#### Describe your feature request

Allow specifying precision for printing Floats. (or a way to toggle to print "exact" (like printing a list[f64]) and "rounded" (like current df printing)).

[code]

[2021-06-04 06:10] ritchie46 commented on #720
Fixed and released. :+1:

[2021-06-04 06:10] #720 closed

[2021-06-04 06:11] ritchie46 commented on #666
I believe we have fixed this.

[2021-06-04 06:11] #666 closed

[2021-06-04 06:12] ritchie46 commented on #647
The polars `DataFrame.__getitem__` now works the same as pandas at.

`df[0, 1]` yields row 0 and column 1.

[2021-06-04 06:12] #647 closed

[2021-06-04 06:40] ritchie46 commented on #728
Added in #735

[2021-06-04 06:40] #728 closed

[2021-06-04 08:42] ritchie46 commented on #732
I opted for not rounding floats anymore. That seems easier and more inline in what other tools do.

[2021-06-04 08:42] #732 closed

[2021-06-04 09:22] #727 closed

[2021-06-04 10:46] #731 closed

[2021-06-04 11:00] ritchie46 commented on #729
@jangorecki Turns out, I had paths that were not triggered in unit tests due to the small data it operates on.

But, we know have a full db-benchmark run in CI with checksum assertion: #733. So I am quite certain I will not waste your time with this anymore. :)

P.S. The fix is also released.

[2021-06-04 11:03] jangorecki commented on #729
Great to hear, thanks for having those tests and for such a fast fix.

[2021-06-04 13:49] ritchie46 commented on #731
@ghuls There is a `.list()` expression btw. That could speed up:

[code]

with:

[code]

[2021-06-04 14:17] #680 closed

[2021-06-04 18:23] #660 closed

[2021-06-05 13:07] ritchie46 opened #744 "n_unique should not allocate uint32chunked"

[2021-06-06 12:31] ritchie46 opened #748 "Add checked subtraction and modulo"
Current divide by zero panics. Add an optional checked_sub and checked_modulo to ChunkedArray and Series

[2021-06-06 14:18] jacklanda opened #749 "[Create A New DataFrame Only With Columns' Name But No Need of Value]"
As usually known that, it's common to create a new dataframe in `Pandas` in this way:
    `pd.DataFrame(columns=("col1", "col2", "col2"))`
It's a statement to create a dataframe only with columns' name but actually not with any values, the image below shows this way.
<img width="612" alt="图片" src="https://user-images.githubusercontent.com/54089835/120927831-d151bb80-c714-11eb-9743-a7ab735a31e2.png

[2021-06-06 14:46] jacklanda opened #750 "How to create a empty dataframe only with columns' name ?"
In Pandas, we can create a empty dataframe only with columns' name like this 'pd.DataFrame(columns=("col1", "col2", "col3"))', the image below shows this statement↓

<img width="553" alt="图片" src="https://user-images.githubusercontent.com/54089835/120928812-e9c3d500-c718-11eb-915d-bfd188bd1eda.png">

How can we implement it in polars' way ?

[2021-06-06 15:48] ritchie46 commented on #749
A polars dataframe must have a schema. Therefore you must provide the types when creating an empty `Series` (as there is no data to infer the dtype from).

You could create an empty frame like so:

[code]

[code]

May I ask, why you want this?

[2021-06-06 15:49] ritchie46 commented on #750
Close this as this is similar to #749

[2021-06-06 15:49] #750 closed

[2021-06-06 16:25] #744 closed

[2021-06-06 19:45] chmp opened #751 "Unexpected behavior: replace_or_add does not honor the column name"
#### Infos
<details>

- Lang: **Rust**
- Features: `["ipc", "temporal", "lazy"]`
- version = `0.14.0`
- OS = `Windows`

</details>

#### Description

When using `DataFrame.replace_or_add` an non existing column is added with the name of the new series, not the column argument.

#### What are the steps to reproduce the behavior?

Example:

[code]

This example will overwrite the "date" column, wher

[2021-06-06 20:17] ritchie46 commented on #751
Thanks for the issue report. You are right. We should rename the new `Series` added.

[2021-06-07 02:30] jacklanda commented on #749
Under my scene, I usually create a empty dataframe only with specific comlumn names, after that, it' s common for to append a new `Series` instance to the empty dataframe by pandas' way `df.append(*, ignore_index=True)`. It truly works for me. But I wonder how can I reproduce this using polars' api (?)

[2021-06-07 06:57] ritchie46 commented on #749
When you add rows to a DataFrame like this `df.append({"a": 955, "b": 996}, ignore_index=True).`

You append a row to a columnar data store. This is very slow from a performance perspective. To make things worse, `Polars` uses chunks of columns. Ideally these chunks are big, but if you append a single value add a time. Under the hood you will get a vector of chunks of 1 size: `Vec<SingletonArray>`

[2021-06-07 07:03] yhnu opened #752 ""Other(\"Other(\\\"Could not parse primitive type during csv parsing: Error { code: InvalidDigit, index: 6 }\\\") on thread line 11; on input: 223846.4\")""
#### Are you using Python or Rust?
Rust

#### What version of polars are you using?

0.14.1

#### What operating system are you using polars on?

windows

#### Describe your bug.

"Other(\"Other(\\\"Could not parse primitive type during csv parsing: Error { code: InvalidDigit, index: 6 }\\\") on thread line 11; on input: 223846.4\")"

#### What are the steps to reproduce the behavior?

load and pa

[2021-06-07 13:07] jacklanda commented on #749
It's really inspired me, it helps me to rethink how to handle dataframe while appending a row to a columnar data store , Thank you very much !

[2021-06-07 13:18] yhnu commented on #752
thanks, slove it

[2021-06-07 13:18] #752 closed

[2021-06-07 15:35] #749 closed

[2021-06-08 03:35] yhnu opened #756 "how to Convert Series to Vec<Int64> ????"
Are you using Python or Rust?
Rust

What version of polars are you using?
0.14.1

What operating system are you using polars on?
windows

[code]

[2021-06-08 08:23] ritchie46 commented on #756
I added an example for you in the [cookbook](https://pola-rs.github.io/polars/polars/docs/eager/index.html#extracting-data)

[2021-06-08 12:24] yhnu commented on #756
thanks a lot

[2021-06-08 12:24] #756 closed

[2021-06-08 18:54] markfairbanks opened #758 "`.with_columns()` doesn't allow single expressions on lazy data frames"
#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.8.3

#### Describe your bug.

`.with_columns()` doesn't allow single expressions on lazy data frames, but works as expected otherwise:

[code]

[2021-06-08 20:59] #758 closed

[2021-06-08 21:55] markfairbanks opened #761 "`.round()` method for series"
Would it be possible to add a `.round()` method for series?

pandas example:

[code]

Proposed polars syntax:

[code]

[2021-06-09 11:07] ritchie46 opened #765 "shrink_to_fit should check size of arrays to make it a no-op if array fits capacity"
Especially for numeric types this is often the case.

[2021-06-09 13:21] tsoernes opened #767 "Parallell Series.apply"
Is it possible to do Series.apply with multiple cores, in python?

Also, I request `na_action`, in particular `na_action='ignore'` to Series.apply or to a new Series.map

[2021-06-09 13:29] ritchie46 commented on #767
It is. Slicing is free. So you could slice the `Series` in chunks and process them over multiple cores and concat them back to a single `Series`.

What do you mean by you request `na_action`?, what is the current behavior you don't like?

[2021-06-09 14:01] markfairbanks opened #769 "`.head()`/`limit()` consistency between eager/lazy syntax"
In polars there is a `.head()` method for eager evaluation, but a `.limit()` for lazy evaluation.

Should these be called the same thing?

[code]

And a side question - is there an advantage to using the lazy API other than query planning?

Thanks again for all the work on this great package.

[2021-06-09 14:07] ritchie46 commented on #769
No, there is indeed an inconsistency. I think there should be aliases for both in eager as well as lazy. Pandas users will be accustomed to `head` and in lazy, I want to have the SQL-like syntax. I will add aliases. :+1:

Mostly query planning. But because I run the queries in a runtime/query engine, I also can make last minute decisions that I cannot make in `eager` (Not entirely true, because a

[2021-06-09 15:41] ritchie46 commented on #769
Added and released :+1:

[2021-06-09 15:41] #769 closed

[2021-06-09 15:41] ritchie46 commented on #761
Added and released :+1:

[2021-06-09 15:41] #761 closed

[2021-06-09 15:42] ritchie46 commented on #646
@imvansh25. There are a few more memory reduction tactics in csv-parsing. You could try `read_csv(low_memory=True)` again in polars version `0.8.4`

[2021-06-09 18:27] tsoernes commented on #767
With Pandas, you do `Series.map(func, na_action='ignore')`. Then `func`
will not be applied to nulls. It avoid having to rewrite functions for
dealing with nulls. E.g. `pd.Series([[], pd.NA]).map(lambda s: s + ['x'],
na_action='ignore')`.

On Wed, Jun 9, 2021 at 4:29 PM Ritchie Vink ***@***.***>
wrote:

[2021-06-09 18:49] tsoernes commented on #767
Very good. It is not the default behavior in pandas but I much appreciate the change. Never any need to map any nulls. Cheers

[2021-06-09 18:49] #767 closed

[2021-06-10 09:22] hhoeflin opened #771 "Ommission in user guide of floating point data types?"
On the user guide here:

https://pola-rs.github.io/polars-book/user-guide/datatypes.html

You list the data types. They are supposed to be the "Arrow" data types https://arrow.apache.org/docs/python/api/datatypes.html
but all floating point data types are missing.

Is this an error or deliberate?

[2021-06-10 09:36] ritchie46 commented on #771
They are missing in the user guide. Sorry, I will add them.

[2021-06-10 09:49] ghuls opened #773 "Detect compressed CSV files and display a warning"
#### Describe your feature request

It would be nice if `pl.csv_read` would detect the compression method (by preferable magic bytes or by checking the file extension).

Now using `pl.csv_read` can be confusing.
[code]

It would be nice if it could at least tell the user that gzip is not supported by polars, by checking the stream and checking for the magic gzip bytes.

Even better would be if pol

[2021-06-10 11:16] ritchie46 commented on #771
Done. :+1:

[2021-06-10 11:16] #771 closed

[2021-06-10 11:59] hhoeflin commented on #771
Quick follow-up. Arrow has float16, which is not on the list?

[2021-06-10 12:38] ritchie46 commented on #771
No, float16 is not supported. Also the rust implementation of arrow has almost no float16 support.

[2021-06-10 12:47] hhoeflin commented on #771
Great, thanks. As the other exceptions to support are listed, maybe this could be added to the list as well. Is good to know, as I use float16 from time to time.

[2021-06-10 13:11] tsoernes opened #775 "Fails to read JSON while Pandas succeeds"
#### Are you using Python or Rust?
Python

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

'0.8.3'

#### What operating system are you using polars on?
Fedora

#### Describe your bug.
Cannot read JSON:
[locations.txt](https://github.com/pola-rs/polars/files/6631650/locations.txt)
[code]

Works with pandas. json is attached

[2021-06-10 13:34] tsoernes opened #776 "Cast ints to bool?"
I'm using Python. How to cast a Series of int to a boolean mask?
[code]
Cannot use `mask.apply(bool)` either; I get a series of ints out.

[2021-06-10 13:50] ritchie46 commented on #776
`mask == 1`

[2021-06-10 14:52] #776 closed

[2021-06-10 14:54] tsoernes opened #778 "Convenience for mapping with dictionaries"
In pandas, we can do `pd.Series(['a', 'b']).map({'a':1, 'c':2})` which equals a Series of `['1', pd.NA]`. It is convenient instead of writing lambdas with dict.get(s, pd.NA). Very often, Series are remapped with a dictionary

[2021-06-10 15:11] ghuls opened #779 "unique on a pl.Catergorical is slower than it should be"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.4

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

Running unique on a Series with dtype pl.Categorial is quite slow (it could use a fast path as it actually shouldn't scan the whole series.

#### What are the steps to reproduce the behavior?

[code]

[2021-06-10 15:15] tsoernes opened #780 "[Feature Request] equivalent to pandas' `duplicated`"
.. which returns a boolean series indicating whether the row is duplicated or not

[2021-06-10 15:19] tsoernes opened #781 "GroupBy.count does not return any counts"
#### Are you using Python or Rust?

Python

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

Replace this text with the version.

#### What operating system are you using polars on?

Replace this text with your operating system and version.

#### Describe your bug.

Give a high level description of the bug.

#### What are the

[2021-06-10 15:19] ritchie46 commented on #780
Have you checked the reference guide?

https://pola-rs.github.io/polars-book/api-python/polars/series/Series.html#polarsseriesseriesis_duplicated

[2021-06-10 15:21] tsoernes commented on #780
That only works on Series, not on DataFrames, where you check multiple columns at once

[2021-06-10 15:24] #780 closed

[2021-06-10 15:31] YuRiTan commented on #778
Hi tsoernes,

I think it would be nice to make your use case more generic, something like:

[code]

For now, this is not possible since the current `.apply()` method doesn't allow `kwargs` to be passed to the function you want to apply on the series. Maybe a nice feature to add?

[2021-06-10 15:37] ritchie46 commented on #781
Count should be marked as deprecated.

You should use the expression syntax:

[code]

I'd suggest reading the expression chapter of the user guide.

The idiomatic polars API is quite different from pandas.

https://pola-rs.github.io/polars-book/user-guide/dsl/intro.html

[2021-06-10 15:37] ritchie46 commented on #780
Yes. We are not pandas😉

[2021-06-10 15:49] tsoernes commented on #781
@ritchie46 I suppose I can make this into a Feature Request for `DataFrame.value_counts`, which is what I have attempted to do above

[2021-06-10 15:56] ritchie46 commented on #781
Again, have you tried the reference guide?

https://pola-rs.github.io/polars-book/api-python/polars/series/Series.html?highlight=value_counts#polarsseriesseriesvalue_counts

[2021-06-10 15:58] tsoernes commented on #781
That does not apply to DataFrames. I want the duplicate count for every unique row across all columns

[2021-06-10 16:03] tsoernes commented on #781
Since I have only string columns, I can do `counts = df.apply('|'.join).value_counts()`, but there is no way to separate the strings back into individual columns again

[2021-06-10 16:04] ritchie46 commented on #781
Every column potentially has a different number of unique values, so you cannot store the result into one dataframe. How would you do that in pandas?

[2021-06-10 16:07] tsoernes commented on #781
Simply `counts = df.groupby(df.columns.tolist(), as_index=False).size()`

[2021-06-10 16:11] ritchie46 commented on #781
Then you can do the same:

[code]

[code]

[2021-06-10 16:18] #781 closed

[2021-06-10 16:42] tsoernes opened #782 "Feature request: Series.eq (equals), gt (greater than), etc"
As in pandas: `Series.eq('some_value)` or `Series.gt(2)`. It allows for more convenient syntax with dot notation when creating composite masks.

[2021-06-10 16:47] ritchie46 commented on #782
I dont want to clutter the API with everything under the sun in Pandas. You can use the available python dunder methods if you want to use dot notation.

`Series.__eq__(..)` etc.

[2021-06-10 16:50] ritchie46 commented on #773
I'd agree if we can keep the dependency optional. So that we add in the docstring that isal can be installed if needer.

And maybe a warning if we detect .gz file names?

[2021-06-10 17:00] #782 closed

[2021-06-10 19:39] tsoernes opened #784 "Cannot read Feather V2 file; works with pandas, vaex, pyarrow: `PanicException: called Result::unwrap() on an Err value: CastError("cannot cast list to large-list with different child data")`"
#### Are you using Python or Rust?
Python 3.8.8

#### What version of polars are you using?

polars 0.8.4
pyarrow 4.0.0

#### What operating system are you using polars on?

Fedora 34 x64

#### Describe your bug.

Unable to read a Feather V2 file, `lz4` compressed, written in Pandas. The file has two columns: `int` and `List[str]`.

Here is the file: https://we.tl/t-6i7E64TFpf

I have tried 3 diff

[2021-06-11 06:40] ritchie46 commented on #775
Polars has a very opinionated json dialect. For the time being you could use pandas'

`pl.from_pandas(pd.read_json("locations.txt"))`

[2021-06-11 08:00] ritchie46 commented on #748
Added in #772

[2021-06-11 08:00] #748 closed

[2021-06-11 08:31] ritchie46 commented on #779
Added. :+1:

[2021-06-11 08:31] #779 closed

[2021-06-11 09:12] ritchie46 commented on #784
Thanks for the issue report. It is fixed in #786

[2021-06-11 10:06] ritchie46 opened #788 "allow min/max aggregation on date32/date64"
And in python a get, as wel as a max, min should be converted to python datetime.

[2021-06-11 12:19] ritchie46 commented on #784
Fixed and released :+1:

[2021-06-11 12:19] #784 closed

[2021-06-11 12:21] ritchie46 commented on #458
Fixed upstream and released :+1:

[2021-06-11 12:21] #458 closed

[2021-06-11 12:24] ritchie46 commented on #778
I am closing this, as it seems that python provides enough flexibility to deal with this.

[2021-06-11 12:24] #778 closed

[2021-06-11 17:41] H-M-H opened #790 "df.lazy().filter(lit(true)).collect() results in ShapeMisMatch"
#### Are you using Python or Rust?
Rust

#### Which feature gates did you use?
`features = ["temporal", "lazy", "dtype-full", "ipc", "strings"]`

#### What version of polars are you using?
v0.14.1

#### Describe your bug.
Filtering a `LazyFrame` using `filter` with `lit(true)` as argument results in a `ShapeMisMatch` with the message `Filter's length differs from that of the ChunkedArray/ Series.

[2021-06-11 19:43] tsoernes opened #791 "[Feature Request] Series.is_in(Set)"
For now, `Series.is_in` works with Lists and other Series. Would it be possible, and more efficient to allow sets?

[2021-06-11 22:24] H-M-H opened #792 "LazyFrame panics using aliasing and filtering with &"
#### Are you using Python or Rust?
Python and Rust are affected.

#### What version of polars are you using?
Python: 0.8.5
Rust: 0.14.1

#### What operating system are you using polars on?
Arch Linux.

#### Describe your bug.
Using a combination of `with_columns`, aliasing and filtering with `&` LazyFrame panics, while the eager version doesn't .

#### What are the steps to reproduce the behavior?

[2021-06-12 07:24] ritchie46 commented on #790
I tried to reproduce the described bug with:

[code]

But that snippet works. Have you got a small example to reproduce the error?

[2021-06-12 08:04] ritchie46 commented on #791
It probably will not be more efficient. I use hashsets in Rust. They are typed and thus likely much more efficient than python's sets. Besides that, I then also need to use python hash functions to use the set, which would be another slowdown.

[2021-06-12 08:57] #792 closed

[2021-06-12 09:09] H-M-H commented on #790
I am sorry, I should have included a snippet from the start:
[code]
The first iteration runs fine, the second does not:
[code]
I did not notice it at first but this only seems to happen if the series is not too short as in the test case above and if it contains Utf8.

[2021-06-12 09:55] H-M-H opened #795 "df.sort([]) panics"
#### Are you using Python or Rust?
Both.

#### Which feature gates did you use?
`features = ["temporal", "lazy", "dtype-full", "ipc", "strings"]`

#### What version of polars are you using?
Rust: 0.14.1
Python: 0.8.5

#### What operating system are you using polars on?
Arch Linux.

#### What are the steps to reproduce the behavior?
[code]
Output:
[code]

#### What is the expected behavior?
I'd exp

[2021-06-12 10:25] ritchie46 commented on #795
Made it a no-op :+1:

[2021-06-12 10:59] #795 closed

[2021-06-12 11:47] #790 closed

[2021-06-13 05:21] olivier-lacroix opened #799 "Replacing string with None via an expression fails"
#### Are you using Python or Rust?

**Python**

#### Which feature gates did you use?

NA

#### What version of polars are you using?

0.8.5

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Replacing string with None via an expression fails. Note that trying the same thing with, say integers, works properly.

#### What are the steps to reproduce the behavior?

[2021-06-13 06:04] olivier-lacroix opened #800 "[feature-request] Allow opening files on remote filesystems / object stores"
Hello there,

It appears polars does not have great support yet for remote filesystems (e.g. AWS S3 or GCS). It would be great to be able to refer easily to remote paths in IO functions. for instance:

[code]

Currently, one can use fsspec with read_csv, but NOT with scan_csv which only accepts a path

[code]

[2021-06-13 10:47] #799 closed

[2021-06-13 10:59] olivier-lacroix commented on #799
Thx @ritchie46 !

[2021-06-14 04:54] olivier-lacroix opened #808 "PanicException: called `Option::unwrap()` on a `None` value when calling collect on a lazy dataframe"
#### Are you using Python or Rust?

**Python**

#### Which feature gates did you use?

NA

#### What version of polars are you using?

0.8.5

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Applying a series of operations (drop_duplicates, drop_nulls and some filters) on a lazy dataframe yields a PanicException on collect most of the times in a non-deterministi

[2021-06-14 06:55] ritchie46 commented on #808
Could you set `RUST_BACKTRACE=1`. Hopefully we can get a bit more information than this. :)

[2021-06-14 06:58] ritchie46 commented on #800
Currently the `scan_csv` expects a file because it must infer the file schema. With such cloud resources we'd have to download the first `n` rows and then restore the stream as is (for scanning the whole stream later). I don't see an easy solution for this at the moment.

Do such streams have a seek operation?

[2021-06-14 07:44] olivier-lacroix commented on #800
Hi @ritchie46 , makes sense.

As an example, from memory, I believe what Dask does in its lazy read_csv is the following:
- if the schema is provided as an argument (`dtype`), do nothing
- otherwise, read a chunk to infer schema

Yes, I believe (most of) these streams are seekable. In python, see [fsspec](https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.spec.AbstractBufferedFile) f

[2021-06-14 07:55] olivier-lacroix commented on #808
@ritchie46 , setting `RUST_BACKTRACE=1` does not seem to provide more backtrace information. Do I need to install polars in a specific way ?

[2021-06-14 08:53] ritchie46 commented on #808
Sorry, it should be exported `export RUST_BACKTRACE=1`.

In the pip installed version it may be that the names are mangled and that its harder to see where it originates. So a development build would be better. But maybe the production binaries' stack-trace is enough.

[2021-06-14 10:26] olivier-lacroix commented on #808
Yup, I have tried setting the env var from the notebook with `%env RUST_BACKTRACE=1` or in the kernel.json file, but unfortunately, this does not print any backtrace...

Running this in another environment locally and exporting the env var does not help either: no backtrace....

Any idea ?

[2021-06-14 10:29] ritchie46 commented on #808
Did you check the terminal instead of the notebook?

[2021-06-14 10:40] olivier-lacroix commented on #808
Indeed @ritchie46 ! I had to set RUST_BACKTRACE to full to get something, which follows:

[code]

[2021-06-14 10:46] olivier-lacroix commented on #808
Thanks for holding my hand @ritchie46 :grin:

If this is not enough, I can give the devel compilation a go.

[2021-06-14 10:59] ritchie46 commented on #808
Good! We have a line number. :slightly_smiling_face:

And it gets even better. This is fixed in:  #792

So if you compile from source, or wait until friday. This should be resolved.

[2021-06-14 11:29] olivier-lacroix commented on #808
Great! Thanks!

[2021-06-16 08:32] ritchie46 commented on #751
This fix has also been released :+1:

[2021-06-16 08:32] #751 closed

[2021-06-16 08:33] ritchie46 commented on #646
I am closing this due to inactivity.

[2021-06-16 08:33] #646 closed

[2021-06-16 08:38] ritchie46 commented on #673
No worries. I'll close it. :)

[2021-06-16 08:38] #673 closed

[2021-06-17 08:35] etiennekintzler opened #833 "pl.Series.mean and pl.Series.median return None for type Boolean"
I am using **Python**, **polars version 0.8.5**.

Have this issue on **both Windows** (W10) and **Linux** (Ubuntu 20.04.1 LTS focal x86_64)

### Description of the bug

The methods `pl.Series.mean` and `pl.Series.median` return  `None` for a Series of type `Boolean`.

[code]

### Expected behavior

I didn't expect a `None` return. What was expected :
- implicit cast of boolean to int and returns `

[2021-06-17 13:37] ritchie46 commented on #833
It was sort of by design. But I'll see if I can add some implicit casts.

[2021-06-17 16:38] Hoeze commented on #655
That would be awesome!

[2021-06-17 17:57] ritchie46 opened #837 "Series::min/ max/ should not use f64"
Use the type information of the caller to coerce to the `sum_as_series`. The current implementation may be imprecise with very large numbers that cannot be represented with f64.

[2021-06-18 16:18] ghuls opened #841 "Comparing categorical column with a fixed string value seems to convert the categorical column to Utf-8"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.5

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

Comparing a categorical column with a fixed string value seems to convert the categorical column to Utf-8 for the comparison.

#### What are the steps to reproduce the behavior?

[code]

Timings for `pl.col("Chro

[2021-06-20 03:36] olivier-lacroix commented on #808
@ritchie46 , I can confirm this is resolved in polars 0.8.6.

Thanks!

[2021-06-20 03:36] #808 closed

[2021-06-20 03:54] olivier-lacroix opened #842 "Polars Lazy panics with PanicException: more than one root: Other("found more than one root column name")"
#### Are you using Python or Rust?

**Python**

#### Which feature gates did you use?

NA

#### What version of polars are you using?

0.8.6

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Polars Lazy panics on collect most of the time when executing a particular pipeline.

#### What are the steps to reproduce the behavior?

Unfortunately, I have not been able

[2021-06-20 04:16] olivier-lacroix opened #843 "Polars should handle datetime arithmetic better"
#### Are you using Python or Rust?
**Python**

#### Which feature gates did you use?

NA

#### What version of polars are you using?

0.8.6

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Polars does not guard against unsupported arithmetic operations on Dates, and does not cast differences to a Duration type

#### What are the steps to reproduce the behavior?

[2021-06-21 06:27] ritchie46 commented on #842
Could you show me the code snippets that produce this error? It's a code snippet with an `alias`.

[2021-06-21 10:29] olivier-lacroix commented on #842
Sure! there you go (anonymised)

[code]

[2021-06-21 13:16] ritchie46 commented on #842
This should be fixed in #844.

This will be released next friday. If you cannot wait, you can compile from source. :)

[2021-06-21 14:47] #842 closed

[2021-06-21 15:40] ghuls opened #845 "Do not panic when casting a categorical column again to a categorical column."
#### Describe your feature request

Do not panic when casting a categorical column again to a categorical column.

Display a proper error message instead.

[code]

[2021-06-21 17:01] marcvanheerden commented on #492
can I pick this up? @oren0e

[2021-06-21 17:20] oren0e commented on #492
Sure, unfortunately I didn't get to this.

[2021-06-21 19:44] #841 closed

[2021-06-21 19:44] #845 closed

[2021-06-21 23:35] jntrnr opened #847 "Polars build times"
#### Are you using Python or Rust?

Rust

#### Which feature gates did you use?

Default and also ["serde", "rows"]

#### What version of polars are you using?

git = "https://github.com/pola-rs/polars"
rev = "f60d86bc0921bd42635e8a33e7aad28ebe62dc3e"
version = "0.14.2"

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Build times both standalone and as part of

[2021-06-22 00:41] olivier-lacroix commented on #842
Cool, thanks @ritchie46 !

A couple of questions:

- Does this mean less optimisation / performance ? is there a way to express things in a nicer way for polars to be able to push predicates down ?
- Is this worth raising a performance warning to the user when that happens?

[2021-06-22 05:42] ritchie46 commented on #833
This has been added and released👍

[2021-06-22 05:42] #833 closed

[2021-06-22 06:44] ritchie46 commented on #842
In case of your query the predicate cannot be pushed before:

`.select([pl.when(col(column).is_in([""," ","x"])).then(lit(None)).otherwise(col(column)).alias(column) for column in cols)])`

Because the predicate is dependent on this new column thats composed of this `when,else-evaluation`. So it's the maximum performance for this query on that regard.

Don't think so. :)

Yes, that would be a nice

[2021-06-22 06:58] ritchie46 commented on #847
Me too! My two cents:

The `Series` has no generic type information. Its a trait object that's implemented for all possible polars data types. This means that, contrary to other generic code, you also compile what you don't use.

To mitigate compile times, I am actively introducing feature gates, both for the data types that should be compiled and the operation that should be compiled.

I am curio

[2021-06-22 08:30] olivier-lacroix opened #848 "[Feature request] Add a null_values argument to read_csv and scan_csv"
Hello,

Having an equivalent of pandas read_csv `na_values` argument for polars `read_csv` and `scan_csv` could prove useful, to transform a set of values to nulls.

In particular, it can avoid type issues / casting (e.g. for a float column containing non-float to represent nulls), and is quite a common argument to use in my experience.

For polars, read_csv and scan_csv could have an additional o

[2021-06-22 08:35] ritchie46 commented on #847
For context. The mentioned compile times are with `lto-fat` and single threaded compilation. That explains the difference in mentioned compile times.

https://github.com/nushell/nushell/blob/55cab9eb4ff4ee3ee73efc6f8973901b2a91c921/Cargo.toml#L162

[2021-06-22 08:45] stordopoulos opened #849 "Introduce a Cartesian Product feature in the Join merger"
#### Introduce a Cartesian Product call in polars.frame.DataFrame.join

I've been testing various Panda and Panda-like APIs, and it appears that Polars doesn't have an out-of-the-box way to generate a [Cartesian Product](https://en.wikipedia.org/wiki/Cartesian_product) method. From [pandas v1.2 on, you can use how=cross](https://pandas.pydata.org/docs/reference/api/pandas.merge.html) on a merge ca

[2021-06-22 08:49] olivier-lacroix commented on #842
Thanks @ritchie46

- Feature request opened in https://github.com/pola-rs/polars/issues/848
- Indeed, the pipeline works well with polars 0.8.6 "just" by moving the `select` at the end of it :sparkles:. It was not clear nor obvious to me the best place for the select was at the end of the pipeline. Is this something that is (or could be) indicated in the documentation?
- Also, the problematic sele

[2021-06-22 09:00] olivier-lacroix opened #850 "TypeError: PyLazyFrame.optimization_toggle() missing required positional argument: string_cache"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.6

#### What operating system are you using polars on?

Linux

#### Describe your bug.

Calling describe_optimized_plan() on a lazy dataframe raises an exception

#### What are the steps to reproduce the behavior?

[code]

#### What is the actual behavior?

[code]

#### What is the expected behavior?

[2021-06-22 09:53] ritchie46 commented on #842
No, but any predicates after that on that column, must see the replaced values for the predicate to be correct.

Yes, maybe that's a good addition. Need to do more docs. :smile:

[2021-06-22 23:04] feribg opened #854 "Multi index and date time index support"
I was wondering if multi indexing and date time indexing support is on the near term roadmap. Unfortunately none of the "fast" data frames out there have any support for those and most people dealing with irregular sensor data or stock market data are still stuck with pandas. Probably area of decent opportunity.

[2021-06-23 07:53] ritchie46 commented on #854
Could you describe to me what kind of problems you wnat to solve and how a date index helps you with that?

Polars does not have indexes, but pherhaps we can expose an intermediate data structure to suit your needs.

[2021-06-23 07:55] ritchie46 commented on #848
One thing to note is that `NaN` is not the same as missing. Is this most used in floating point data?

[2021-06-23 08:48] ritchie46 commented on #843
This is addressed in #857 .

On subtraction the numeric values are returned. E.g. `Int32` and `Int64` for `Date32` and `Date64` respectively. Not duration, as I think I am going to drop support of that datatype.

[2021-06-23 09:11] olivier-lacroix commented on #848
@ritchie46, good point.

It could be any type really. From float, integer, strings or dates. I would say that most NaNs in pandas are, in fact, nulls. At least in my use cases.

[2021-06-23 09:19] olivier-lacroix commented on #843
@ritchie46, great!

On a side note, I do think that handling duration and datetime arithmetic, frequencies, etc. is an important feature of a dataframe library (and one where pandas is pretty good), but I understand that this is quite dependent of use cases and may not be a high priority for polars.

[2021-06-23 09:21] olivier-lacroix commented on #848
Maybe best to have two arguments then ? `na_values` , and `null_values` ?

[2021-06-23 09:56] olivier-lacroix commented on #773
@ghuls , @ritchie46 , what do you think of using fsspec for handling this ? it does infer compression format, and allows to register custom compression handlers.

Pyarrow being compatible with fsspec, using isal can also speed up read_csv with pyarrow. Using fsspec would also allow polars to read files from cloud storage and other sources transparently

some timings

[code]

[2021-06-23 11:36] romanovacca commented on #635
@ritchie46 I can pick this up?

[2021-06-23 12:15] ritchie46 opened #861 "Python: add trigonometry functions"
sin, cos, etc.

In rust this is not needed as we can easily call `apply(_cast)`

[2021-06-23 12:16] ritchie46 commented on #635
I am heavily doubting if we should add this to the API.

As users very easily can use `pl.from_pandas(pd.read_excel(".."))` and I don't want to support this from Rust.

[2021-06-23 12:16] ritchie46 commented on #861
@romanovacca This might be a good one to pick up.

[2021-06-23 15:18] ghuls commented on #800
@ritchie46 ffspec supports differnt read buffering strategies:
https://filesystem-spec.readthedocs.io/en/latest/api.html#readbuffering

[code]

So a BlockCache could be used:
[code]

Or if you want that rerunning a read_csv/scan_csv query is faster, a MMapCache (although that might only work on POSIX).

[2021-06-23 16:49] ghuls opened #862 "ArrowInvalid: offset overflow while concatenating arrays"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.6

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

`combine_chunks()` on a pyarrow array can fail with `ArrowInvalid: offset overflow while concatenating arrays`

`combine_chunks()` on the pyarrow table itself works and creates 3 chunks for that pyarrrow array co

[2021-06-23 17:27] ritchie46 commented on #862
The chunks need to be combined to a single array. Do you know what the data type is of the array that overflows?

[2021-06-23 17:52] ghuls commented on #862
It was a string column (from parsing a CSV file that is tab delimitted, but in this test I forgot to set the separator to tab, so all 5 column were read as 1 column).

[2021-06-23 18:18] feribg commented on #854
There are a few that come to mind:

### Reindexing with date based indexes to account for business days and resampling (daily, business day, custom calendar).
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

### Hierarchical indexes having time as the second dimension

For example imagine the following common structure:
sensor_id, timestamp -> value

If th

[2021-06-23 18:24] ritchie46 commented on #862
Right, then I think we can fix this by first casting to large-utf8. The utf8 type only uses signed 32 bit integers as the offsets for the strings. So if you have got more than 2GB of string bytes in an array you're overflowing already.

[2021-06-23 20:39] ghuls commented on #862
Probably best to only convert it, if if fails with the `ArrowInvalid: offset overflow while concatenating arrays` exception, no?

As far as I can see, the following pyarrow datatypes have a `Large*` variant.
[code]

[code]

[2021-06-23 21:14] ghuls opened #865 "Support for ignoring comment lines when reading CSV data"
#### Describe your feature request

Support for ignoring comment lines when reading CSV data.

The CSV crate supports ignoring lines starting with a comment:
https://docs.rs/csv/1.1.6/csv/struct.ReaderBuilder.html#method.comment

Other (potential) useful options supported by CSV crate:
[code]

`pyarrow` also supports most of them:
[code]

Personally I don't care about quoting and escaping as the f

[2021-06-24 06:54] ritchie46 commented on #862
Polars does not support `StringArrray`, only `LargeStringArray`. So converting has to be done anyway. Better do it early, then we don't do the work twice.

[2021-06-24 07:55] ghuls commented on #862
Ah, in that case yes.
So I assume reading the file with polars itself instead of with `read_csv(..., use_pyarrow=True)` should work for those files?

[2021-06-24 09:11] ritchie46 opened #868 "Arrow2: AggList implementation is slower than it has to be"
Reminder to properly implement

[2021-06-24 09:25] ghuls commented on #773
Pyarrow somehow can work with and without ffspec installed.

@olivier-lacroix I didn't know it was that easy to register new compression methods.

@ritchie46 I also tried `gunzip` of https://github.com/ebiggers/libdeflate/ to test decompression speed and it was 3 times faster than decompressiong with igzip (standalone program, not python wrapper) of isal (so around 6 times faster than gunzip, I th

[2021-06-24 12:19] ritchie46 commented on #862
Yes.. That would should work without problems.

It's still good to fix the issue in the conversion though.

[2021-06-24 14:15] ghuls commented on #862
Yes, as for gzipped files at least pyarrow's reading code is much faster.

[2021-06-24 15:31] ghuls commented on #862
With a bit of luck it might also be solved in the future in pyarrow itself:
https://issues.apache.org/jira/projects/ARROW/issues/ARROW-13150

[2021-06-25 05:30] #862 closed

[2021-06-25 13:57] YuRiTan opened #877 ".round in dt namespace"
A `.round()` method in the series' `.dt` namespace would be nice. Something like this:

[code]

You can of course use a custom method combining the year, month, day, hour, minute, second properties (which are available in the `.dt` namespace), or divide the underlying timestamp with a certain amount of seconds, but a rounding function seems useful for me.

[2021-06-25 14:28] YuRiTan opened #878 "Empty strings instead of null for missing values for str dtype"
#### Are you using Python or Rust?

Replace this text with the **Python**.

#### What version of polars are you using?

`0.8.6`

#### What operating system are you using polars on?

Ubuntu 18.04

#### Describe your bug.

Inconsistent use of missing values. For numeric columns, this is `null`, whereas `str` columns are `""`. Also, the `is_null()` method returns `False` for the empty strings.

####

[2021-06-25 14:40] YuRiTan commented on #878
The behaviour seems to change with kernel restarts. Sometimes is shows `null` and sometimes the above described behaviour.

[2021-06-25 14:44] YuRiTan commented on #878
When rerunning multiple times, it sometimes even shows both:

[code]

[2021-06-25 15:08] Rohith295 commented on #849
Can i work on this issue?

[2021-06-26 11:43] ritchie46 commented on #878
Fixed in #876

[2021-06-26 11:43] #878 closed

[2021-06-26 17:57] #492 closed

[2021-06-26 18:34] ritchie46 commented on #849
Sure.. if we can make the implementation similar to what already exists and feature flag it.

[2021-06-26 20:54] marcvanheerden opened #882 "resolve "~" to home directory in read_csv and possibly other read methods"
It seems that the "~" character is not resolving to the user's home directory in the path input for pl.read_csv.

I can have a look at getting this to work for read_csv and the other read methods.

[code]

[2021-06-27 04:41] olivier-lacroix commented on #882
Hi, I have just opened a PR (https://github.com/pola-rs/polars/pull/883) which defers file opening to fsspec. I _believe_ fsspec handles "~" in paths

[2021-06-27 04:42] olivier-lacroix commented on #800
PR opened (https://github.com/pola-rs/polars/pull/883) for partial support (only in eager read_* functions)

[2021-06-27 04:44] olivier-lacroix commented on #773
@ghuls, I have just opened a PR doing what I propose (https://github.com/pola-rs/polars/pull/883).

It removes the isal import (which could easily be registered though) as this should be added directly to fsspec I think.

[2021-06-27 08:44] ritchie46 opened #887 "Arrow2: db-benchmark q9 fails with indexs out of bounds"
Only occurs on dataset with null values. Also only occurs at a certain dataset size, so needs further investigation.

# Reproduce

[code]

# Stacktrace
[code]

[2021-06-27 09:38] alpeshjamgade commented on #861
hi, can i do this?

[2021-06-27 12:10] ritchie46 opened #888 "panicked at 'assertion failed: i < (self.bits.len() << 3)"
[code]

[code]

[2021-06-27 12:17] ritchie46 commented on #888
Probably again offsets and null buffers.

[2021-06-27 18:04] #888 closed

[2021-06-28 06:37] tikkanz commented on #848
I'm working with some CSVs that use `.` to signify missing values. The data is otherwise integer. Something like `null_values` would work well for this use case.
At the moment I think the only option I have is to specify the `dtype` of the columns is `str`, remove the '.' and cast to `int`?

(Release py-polars-v8.8 on Ubuntu.)

[2021-06-28 06:53] jorgecarleitao commented on #887
This is arrow2's fault and has been fixed in main 👍

[2021-06-28 08:51] ritchie46 commented on #887
That means we are there. :100: :partying_face:

[2021-06-28 09:05] jorgecarleitao commented on #887
is there any changes to the benchmark results? :P

[2021-06-28 13:16] ritchie46 commented on #887
Fixed in #895

benchmarks not yet representative. WIP.

[2021-06-28 13:16] #887 closed

[2021-06-28 19:40] dschoenleber opened #899 "`.is_duplicated()` and `.is_unique()` give same results"
#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.8.6

#### What operating system are you using polars on?

macOS 11.4

#### Describe your bug.

`.is_duplicated()` and `.is_unique()` give the same results.

#### What are the steps to reproduce the behavior?

[code]
|   sepal_length |   sepal_width |   petal_length |   petal_width | species   |
|-------------

[2021-06-28 19:52] YuRiTan commented on #854
Hi @feribg,You dont need reindexing / hierarchical indexing to do the things you want. I've tried to create a MWE based on your description:

[code]
You can also create a function to resample using a custom calendar. I agree that some util functions can be nice, but the concept of indexes might not be necessary in this case.

The `merge_asof` could indeed be a nice feature to add.

Hope this helps

[2021-06-29 06:49] ritchie46 commented on #868
Fixed in #897

[2021-06-29 06:49] #868 closed

[2021-06-29 07:59] ritchie46 commented on #848
Or you can set the `dtype` to int and set `ignore_errors=True`, then parsing errors will be missing.

[2021-06-29 21:28] tikkanz commented on #848
Thanks, yes that works and solves my issue for now.
It might be nicer in the future to be able to declare known missings, and still have any unknown errors being picked up.

[2021-06-30 08:41] ritchie46 commented on #850
Fixed and released.

[2021-06-30 08:41] #850 closed

[2021-06-30 08:41] ritchie46 commented on #843
Fixed and released

[2021-06-30 08:41] #843 closed

[2021-06-30 08:43] ritchie46 commented on #791
I will close this as I don't think any action is required. Users can can pass in a list, and we will create the needed data structures from the Rust side.

[2021-06-30 08:43] #791 closed

[2021-06-30 09:47] #877 closed

[2021-06-30 11:19] marcvanheerden commented on #788
I'll work on this

[2021-06-30 15:31] ritchie46 commented on #788
Hmm.. i think this was already fixed.😅

[2021-06-30 18:34] marcvanheerdenbain commented on #788
is it supposed to return an int?

[code]

[2021-06-30 19:56] ritchie46 commented on #788
I added the aggregation under the `dt` namespace. For the normal namespace I think it may return the physical type, being int.

[2021-06-30 19:57] ritchie46 commented on #882
@marcvanheerden , I think this might be an easy addition in the parsers.

[2021-06-30 19:59] marcvanheerden commented on #882
Will do

[2021-07-01 06:49] marcvanheerdenbain commented on #788
that makes sense, are you happy with this interface? Might be a bit confusing for users if you need to use a different namespace for different column types. If you're happy with it then feel free to close this issue

[2021-07-01 07:08] ritchie46 commented on #788
I am not really certain yet. As returning a max as integer makes it valid to for instance do something like this:

[code]

Because the aggregation return a datatype that fits the internal representation.

[2021-07-01 08:51] ritchie46 opened #918 "join_asof"
for datetime processing a merge_asof /join_asof similar to whats known is pandas is useful. This operation could be added behind a feature flag.

[2021-07-02 08:57] michaelice opened #925 "~dot or~ matmul not supported"
The operation Dot in pandas is useful. Hope added behind a feature flag.

[2021-07-02 09:35] ritchie46 commented on #925
Do you use this from Rust? Polars has the ability to convert to `ndarray` which has linear algebra support.

[2021-07-03 08:16] ritchie46 commented on #899
Fixed and releasdd

[2021-07-03 08:16] #899 closed

[2021-07-03 08:16] ritchie46 commented on #865
Fixed and released

[2021-07-03 08:16] #865 closed

[2021-07-03 08:17] ritchie46 commented on #788
Added under `dt` namespace

[2021-07-03 08:17] #788 closed

[2021-07-03 17:17] marcvanheerden commented on #882
going to wait and see what happens with #883 before continuing here

[2021-07-04 19:32] ritchie46 commented on #882
Right. I think it does remain a good addition though. As #883 will only fix things from the python side.

[2021-07-05 06:31] marcvanheerden commented on #882
Sorry for the back and forth here, do you think an upstream fix in arrow would be better?

[2021-07-05 06:52] ritchie46 commented on #882
I think in Polars itself. Polars uses a custom csv-parser and parsers from arrow. I think that in any code where we accept a path/string to a filepath, we could evaluate the absolute path before we call Polars/arrows parsers.

The fix in #833 is welcome, but I view those as a temporary fix, as this only influence the python bindings.

[2021-07-05 10:04] laakejs opened #929 "Logical or operator ("|") fails for multiple filter expressions applied tot the same column"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.8

#### What operating system are you using polars on?

Python 3.6.9 on Ubuntu 18.04 (WSL)

#### Describe your bug.

When applying multiple logical (or) operations on the same column (or a copy of this column) in one filter() expression the result does not behave as expected. It seems like only one of

[2021-07-05 10:36] ritchie46 commented on #929
Thanks for your example. This is due to the null value propagating in the or operation. This is probably never what is intended by the user and is something I will fix.

[2021-07-05 10:42] jorgecarleitao commented on #929
check out kleene logic: https://en.wikipedia.org/wiki/Three-valued_logic

Arrow (and arrow2) have the kleene versions of AND and OR :)

[2021-07-05 10:46] ritchie46 commented on #929
Thanks a lot @jorgecarleitao , I did not realize this very _clean_ solution for this. (pun, not intended) ;)

[2021-07-05 18:43] ritchie46 opened #932 "Python: Add mypy stub file to maturin build"
Exact description is probably better defined by @stinodego.

Possibly blocked by: https://github.com/PyO3/maturin/issues/258.

@stinodego, does the file need to be included in the final `sdist` directory in the wheel? Otherwise we can probably use this:

[code]

[2021-07-05 21:12] stinodego commented on #932
The goal is to make the Python package compliant with [PEP 561](https://www.python.org/dev/peps/pep-0561/#id18). This will allow people to import polars and utilize type information when using polars functions.

Complying to PEP 561 involves two things:
* Add an empty file called `py.typed` to the `py-polars/polars` directory (easy enough)
* Include this file in the package information somehow (th

[2021-07-06 02:07] messense commented on #932
`include = ["polars/py.typed"]` this is [out of scope of PEP 621](https://www.python.org/dev/peps/pep-0621/#specify-files-to-include-when-building) so it's not implemented in maturin yet.

[2021-07-06 11:12] juliankeppel opened #934 "fill_none for specific column"
#### Describe your feature request

If I have multiple columns that I want to fill with different values for null. This seem currently not to be possible. Mabe I'm missing something, but the only way to use `fill_none` is:

[code]
Every column gets the same null value. What I actually want to do is more like defining a separate null value for each of the individual columns, like I can do in Pandas

[2021-07-06 11:24] olivier-lacroix commented on #934
@juliankeppel , have you tried with expressions? The likes of

[code]

[2021-07-06 11:29] juliankeppel commented on #934
@olivier-lacroix Okay, that did the trick. Thank you for this very quick response.

[2021-07-06 13:09] laakejs opened #935 "dataframe creation using datetime package has issues with dtype"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.8

#### What operating system are you using polars on?

Python 3.6.9 on Ubuntu 18.04 (WSL)

#### Describe your bug.

I try to construct a polars Dataframe with datetime objects that can be sometimes null. However, I fail to construct a proper example df. Either the type is object, or the resulting value

[2021-07-06 13:27] ritchie46 commented on #935
Its not a bug, we don't introspect python objects. But I will make it easier to construct a `Date64` from python datetimes.

For now you can convert the datetimes to timestamps in `ms` and cast the timestamps to `Date64`.

`list(map(lambda dt: int(dt.timestamp() * 1000), [datetime(2021,1,1), datetime(2021,1,2),datetime(2021,1,3), datetime(2021,1,4)])`

Then I will add utility to deal with python n

[2021-07-06 13:39] ritchie46 commented on #935
An easier solution would be going via pyarrow:

[code]

[code]

[2021-07-06 13:59] laakejs commented on #935
The latter one looks good to me, however I would use the from_arrow version of Series, so I can assign a column name.
`pl.Series.from_arrow(name="true_dates",  array=pa.array([datetime(2021,1,1), datetime(2021,1,2),datetime(2021,1,3), None]))   `

[2021-07-06 14:09] laakejs commented on #935
@ritchie46 Shall I close this Issue, or do you want to keep it as a reminder to make it easier to construct a Date64 from python datetimes?

[2021-07-06 14:37] ritchie46 commented on #935
Keep it open. I will close it friday. Then I will have released the beforementioned utility.

[2021-07-06 18:36] ritchie46 opened #936 "add step to python arange"

[2021-07-07 06:44] #918 closed

[2021-07-07 06:47] ritchie46 commented on #854
@feribg the `asof` join is just merged in. As @YuRiTan mentioned, a resample is already possible with a `downsample` operation. And I believe that what is obtained with indexes can also be obtained with joins, groupby combinations.

[2021-07-07 06:53] #882 closed

[2021-07-07 07:23] ritchie46 commented on #861
Yes, if you want any help let me know. :)

[2021-07-07 07:46] olivier-lacroix commented on #800
@ritchie46 , as performance takes a significant hit when io is done via Python, and in many use cases data is stored in the cloud, it seems having access to cloud storage via rust is “necessary” to have a performant polars. Do you see this as something that is in scope for polars ? For arrow-rust / arrow2 ?

[2021-07-07 08:10] #936 closed

[2021-07-07 12:00] ritchie46 commented on #800
I think a fast solution is downloading the data to local temporary file. Then the local parsers can utilize `mmap` and multi-threading to process the files locally.

[2021-07-07 16:44] feribg commented on #854
Thanks @ritchie46 that's amazing turnaroud. I will port some of my code over and try it out. Just out of curiosity I see the PR adds support for python DT but i dont see anywhere in the tests a timezone variant, are tz's supported just not added in the PR or they are WIP.

[2021-07-07 16:44] #854 closed

[2021-07-07 17:36] ritchie46 commented on #854
No timezones are not yet supported. I always considered these a 'nice to have'. Eventually I maybe want to change the `Date64` datatype to a type that may include a timezone.

[2021-07-07 20:34] bmschmidt opened #941 "pl.concat of a df to itself modifies input"
Thank you for your work on this great library.

#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.8.9

#### What operating system are you using polars on?

OS X 10.15.7

#### Describe your bug.

When pl.concat is used to concatenate a table to itself, the input table is doubled in place each time it appears.

#### What are the steps to reproduce the behavior

[2021-07-08 06:28] ritchie46 commented on #941
Thank you for the issue report. I will fix this.

[2021-07-08 07:29] #941 closed

[2021-07-08 13:19] stordopoulos commented on #83
@ankoh, is there a working alpha of the Javascript wrapper?

[2021-07-08 13:29] ankoh commented on #83
Not for polar-rs. We faced a very similar problem with the upcoming WebAssembly version of DuckDB.
We're just packing SQL results as arrow record batch streams there, which works fairly well.

[2021-07-08 13:41] stordopoulos commented on #83
Thanks for the update, @ankoh. I hope there's some substantial progress soon. I've tried any JS-based Dataframe library I could find, and all of them felt underwhelming, if not just a hobby project.

[2021-07-08 14:30] laakejs opened #944 "String concatenation fo literals and columns causes problems"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.9

#### What operating system are you using polars on?

Python 3.6.9 on Ubuntu 18.04 (WSL)

#### Describe your bug.

When concatenating literal and column Expressions to a single string only the first entry of the column Expression is used.

#### What are the steps to reproduce the behavior?

[code]

##

[2021-07-08 18:51] ritchie46 commented on #944
Thanks for the issue report. Fixed in #945.

[2021-07-09 07:42] #932 closed

[2021-07-09 08:46] ritchie46 commented on #934
I will close this as I don't think there is anything needed to be done.

[2021-07-09 08:46] #934 closed

[2021-07-09 09:40] #848 closed

[2021-07-09 11:28] ritchie46 commented on #944
Fixed and released :+1:

[2021-07-09 11:28] #944 closed

[2021-07-09 11:29] ritchie46 commented on #935
Fixed and released :+1:

[2021-07-09 11:29] #935 closed

[2021-07-09 11:29] ritchie46 commented on #929
Fixed and released :+1:

[2021-07-09 11:29] #929 closed

[2021-07-09 15:35] ritchie46 commented on #849
@stordopoulos I am picking this up. I think it will be in next weeks release.

[2021-07-09 15:38] stordopoulos commented on #849
@ritchie46, thank you for letting me know. I look forward to testing it.

[2021-07-10 07:10] ritchie46 commented on #286
Not relevant anymore.

[2021-07-10 07:10] #286 closed

[2021-07-10 07:12] marcvanheerden opened #953 "read csv fails with large multiline fields"
I was trying to import the training set for this [kaggle competition](https://www.kaggle.com/c/commonlitreadabilityprize) and noticed that it was failing with an incorrect error message
`thread 'main' panicked at 'Field with non closing double-quote at: "`

Since I'm not sure that the kaggle license allows me to share the dataset here I have made a reproducible example [reprex.csv](https://github.

[2021-07-10 08:27] ritchie46 commented on #953
Thanks for reproducing the error.

I don't think the statistics are of influence as that shouldn't truncate the lines. The panic is from this [debug_assert](https://github.com/pola-rs/polars/blob/61ac434e6ab4f14e1c460637ca58a31fa5eec07c/polars/polars-io/src/csv_core/parser.rs#L288). Which I am not confident about being relevant anymore. If I remove it, the file parses correctly. So will a release

[2021-07-10 08:31] ritchie46 opened #954 "csv-parser state machine"
Make a state machine to proper deal with quoted fields and new line chars in a quoted field. This can be inspired by the csv crate. The difference with the csv crate is that this state machine should only split the fields and not copy the bytes to a buffer. This will reduce a copy of bytes for non-string columns.

The unquoting of string fields will still be done by the csv crate.

[2021-07-10 08:33] ritchie46 opened #955 "csv-parser: string parsing can copy directly to arrow array"
Current utf8 columns are copied to an intermediate buffer before written to arrow builder. Don't use a builder, but directly write to a mutable buffer and compute the offsets manually. This reduces an intermediate copy.

[2021-07-10 08:36] ritchie46 opened #956 "csv-parser: remove dependency on csv crate."
Remove csv crate dependency and only use csv-core

[2021-07-10 08:38] ritchie46 commented on #956
@marcvanheerden This is maybe an interesting one? The current schema inference uses the `csv` crate. But if we do this with `csv-core` only, we can drop that dependency.

[2021-07-10 09:03] marcvanheerden commented on #956
Great, I'll have a look, thanks

[2021-07-10 13:30] lazarevskiVsg opened #958 "Can't perform a query with join on different column names"
Hello!

#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.9

#### What operating system are you using polars on?

Windows 10

#### Describe your bug.

I'm trying to build an OLAP query engine over polars.
This can involve many joins, and since I don't see a mechanism to control renaming of duplicate columns, I use column names like "A.col", "B.col", wh

[2021-07-10 17:39] ritchie46 commented on #958
Thanks for the issue report. This is a bug in the `projection pushdown` optimization. I will fix this.

You can run youre query for the time being by disabling projection pushdown for that query: `.collect(projection_pushdown=False)`.

P.S. there is a sum expression. :)

[code]

[2021-07-10 18:15] ritchie46 commented on #958
This is fixed in #959. You can compile from source following the steps described in the readme.

Or you can wait a bit and then it will be fixed in the release of next friday. :)

[2021-07-10 18:35] stinodego opened #960 "Typing conflict in Python Series constructor"
There's various ways to initialize a Series object in Python. This one is causing some trouble:
[code]

If you type-check this with `mypy`, you'll get an error. Which makes sense, because you're passing a list to the `name` argument, which expects a string. This is enabled with a 'hack' in the code of the Series `__init__`:

[code]

Unfortunately, I haven't found a great fix. I see a few ways to g

[2021-07-10 19:04] ritchie46 commented on #960
I think option 2 is quite ok.

In case a user does pass: `pl.Series([1,2,3], [1,2,3])` we should throw a `ValueError`, mentioning that only one sequence may be passed. I believe the types should indicate that there exists a valid permutation of the indicated types, but does not have to guarantee every permutation is valid.

And.. we don't break stuff. :)

[2021-07-10 19:09] alippai commented on #960
Wouldn't `@overload` help here?

[2021-07-10 20:00] stinodego commented on #960
I tried `@overload`, but as far as I've seen that doesn't work on the `__init__` of a class. Then I tried calling an overloaded function from the `__init__`, but couldn't get that to work.

Your explanation sounds reasonable @ritchie46 , I'll implement that.

[2021-07-11 04:18] olivier-lacroix commented on #848
Thanks @ritchie46 ! Any chance to consider a list of several null values for all / per column ? This is quite a common scenario

ie replace argument processing so that we have:

[code]

[2021-07-11 07:12] ritchie46 commented on #960
Fixed in #961

[2021-07-11 07:12] #960 closed

[2021-07-11 07:33] ritchie46 commented on #848
Yes, this can be done. Can you make a new feature request for that?

[2021-07-11 08:09] #958 closed

[2021-07-11 11:23] stinodego opened #963 "(Python) `apply` not available for Groupby.select_all()"
I came across this while fixing type hints, will pick this up later in a separate pull request.

The error:
[code]

In contrast, the same statement using `select(['b', 'c'])` instead of `select_all()` works fine.

I will first explicitly handle this error in the pull request with type hints I am working on right now. Will try to implement a fix later.

[2021-07-11 11:47] ritchie46 commented on #963
Good that you stumble upon this. I want to deprecate this logic. Maybe we can push more into the lazy sugar.

Here is a braindump of how I want the groupby syntax to work:

So the idiomatic groupby+ apply syntax is:

[code]

or if you want to select all, you use the wildcard expression.

[code]

Both the above expressions are actually executed in the lazy engine and give allow you to use all the e

[2021-07-11 12:48] #955 closed

[2021-07-11 14:05] metya opened #965 "import polars in python throw no module pandas error"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.10

#### What operating system are you using polars on?

Windows

#### Describe your bug.

import `polars` requires `pandas`

#### What are the steps to reproduce the behavior?

Here my example:
[code]

#### What is the expected behavior?
`import polars` shouldn't get that exception so that need to dele

[2021-07-11 14:12] ritchie46 commented on #965
You are right. This probably slipped in this week. Will fix it. Next week a release without pandas. :)

[2021-07-11 14:34] stinodego commented on #963
Okay that sounds clear. I'm not picking this up right now, but maybe sometime in the coming weeks.

[2021-07-11 17:33] PatatasDelPapa opened #967 "Why CsvWritter only accepts a &mut Writer?"
This is probably a breaking change if implemented but I can't help but wonder why does `CsvWriter` only accepts a `&mut Writer` instead of taking ownership of the generic `Writer`. by taking ownership of it the user could decide if it want to pass a the the `Writer` directly or a `&mut Writer` like they do now because of the implementation of `impl<W: Write + ?Sized> Write for &mut W`. If there's

[2021-07-11 17:48] ritchie46 commented on #967
Feel free to open a PR and add clarifications to the docs. :) Its really hard for me to see where that's missing.

No specific reason. Could be a `W: Write` indeed. I shall change that.

[2021-07-11 18:24] ritchie46 commented on #965
Fixed by #968

[2021-07-12 00:35] olivier-lacroix opened #971 "[feature request] Handle several null values in null_values CSV parser argument"
Since https://github.com/pola-rs/polars/issues/848, polars CSV parser can detect a string corresponding to a null value and replace it during parsing.

It is quite common to have several strings that should be interpreted as nulls (in the same column), which currently polars cannot handle. It would be great if the following behaviour was implemented:

[code]

This would change the behaviour when a

[2021-07-12 10:54] marcvanheerden commented on #956
Hi @ritchie46 just want to check that I'm doing the right thing here. Should I recreate the functionality in the csv crate that we're using in polars and then drop the dependency?

That is, should I recreate the setter methods like .has_headers(), .flexible(), .from_reader() and the ByteRecordsIntoIter struct in the polars-io crate?

[2021-07-12 16:48] ritchie46 commented on #956
@marcvanheerden,  I think we can replace the logic of the `csv` crate with that of the `csv-core`. I believe we only need that during the schema inference. The rest already uses `csv-core`.

[2021-07-12 18:12] PatatasDelPapa commented on #967
Will see if I can, haven't really used Github or helped other open source project so I'm rather ignorant on the process.

It took me some time but looking at the code, the implementation of `polars::prelude::CsvWriter;` uses `arrow::csv::WriterBuilder` which in itself calls (including others) to `csv::WriterBuilder::from_writer<W: Write>(&self, wtr: W) -> Writer<W>` which in its docs says

Nowhere

[2021-07-12 22:36] olivier-lacroix commented on #773
@ghuls , fsspec now use Isal if present, and polars will benefit from it

[2021-07-13 14:56] benmaier opened #974 "Pandas not installed as a dependency"
#### Are you using Python or Rust?

Python.

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.8.10

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

When installing polars in a fresh Python environment, pandas is not installed as a dependency and thus importing polars fails.

#### W

[2021-07-13 14:57] benmaier commented on #974
I just saw a commit that probably addressed this (bb2e8b83c2db80ad23df4941fa2dd778ab530335), so I'm guessing it's already being worked on :)

[2021-07-13 15:41] benmaier opened #975 "polars constructs empty string column name when assigning datetime column to dataframe"
#### Are you using Python or Rust?

Python v3.8.10

#### Which feature gates did you use?

This can be ignored by Python users.

#### What version of polars are you using?

0.8.10

#### What operating system are you using polars on?

Ubuntu 20.04

#### Describe your bug.

Setting a column on a dateframe containing Python datetime objects, the datetime values get cast correctly, but the column name

[2021-07-13 15:44] benmaier commented on #975
note: this does not happen when using `datetime.date` objects (get casted to `pl.Date32`)

[2021-07-13 16:11] ritchie46 commented on #974
Yes :slightly_smiling_face:  There is also a pre-release with a fix: https://pypi.org/project/polars/0.8.11_beta.1/

[2021-07-13 16:11] #974 closed

[2021-07-13 16:11] benmaier commented on #974
thanks!

[2021-07-13 16:12] ritchie46 commented on #965
Fixed in pre-release: https://pypi.org/project/polars/0.8.11_beta.1/

[2021-07-13 16:13] ritchie46 commented on #975
Thanks for the issue report. I will fix it.

[2021-07-13 16:14] benmaier commented on #975
Related: `datetime.date` should probably get casted to `pl.Date32`, should I open another issue?

[2021-07-13 16:15] benmaier commented on #975
btw thanks for developing this. Polars does so many things right, I haven't been using it for long, but it's already my favorite DataFrame framework

[2021-07-13 17:59] ritchie46 commented on #975
Yes please.

Thank you! Now let's hope it gets some traction. Do you use the expressions?

[2021-07-13 18:04] ritchie46 commented on #954
Not needed since: #972

[2021-07-13 18:04] #954 closed

[2021-07-13 19:32] ritchie46 opened #977 "Add miri check to CI"
You will thank me later.

[2021-07-13 20:31] benmaier commented on #975
the expressions were the major reason I got into polars if I'm being honest 🎉

I'm not worried about the traction, I think it's taking off. I'm advertising for it where I can too

[2021-07-14 10:24] ritchie46 commented on #977
Added in #980

[2021-07-14 10:24] #977 closed

[2021-07-14 11:30] ritchie46 commented on #975
fixed and released :+1:

[2021-07-14 11:30] #975 closed

[2021-07-14 11:31] ritchie46 commented on #965
fixed and released :+1:

[2021-07-14 11:31] #965 closed

[2021-07-14 11:31] ritchie46 commented on #953
fixed and released :+1:

[2021-07-14 11:31] #953 closed

[2021-07-14 11:31] ritchie46 commented on #849
fixed and released :+1:

[2021-07-14 11:31] #849 closed

[2021-07-14 11:38] stordopoulos commented on #849
@ritchie46, is there a link to the documentation?

[2021-07-14 11:50] ritchie46 commented on #849
Ref guide:

https://pola-rs.github.io/polars-book/api-python/polars/eager/frame/DataFrame.html#polarseagerframedataframejoin

Syntax:

[code]

[2021-07-14 13:51] potter420 opened #983 "String column concatenation"
#### Describe your feature request
In our ETL flow, we usually concatenate multiple column after casting them to strings then hash them for fast change comparison.
This can be done quite fast in pandas but for some reason, it taking quite a while in polars.
[code]
In the above scripts, if I try increase the number of string columns, it get worse.

Is there any reason for this slow operation or I d

[2021-07-14 14:38] ritchie46 commented on #983
This is an interesting one! :slightly_smiling_face:

Your query is accidentally quadratic. The columnar string addition creates a new `str` column every iteration.

Let's say we have this column: `["a", "b", "c"]`. This column is represented in memory as: `"abc"`. -> 3 bytes

If we add this to itself, we get a new memory location with:

`"aabbcc"`  -> 6 bytes

If we then add it again,

"aaabbbccc"

[2021-07-14 15:01] potter420 commented on #983
I changed the code using fold and it quite fast now:

[code]
WIth 20 string columns:
polars: 9.843178749084473
pandas: 5.053622245788574
Much better than previous result. I did set the number of string columns to 40 before to match our real data, pandas in 7.5 secs and polars with the previous approach straight up take forever (waited for 4 min then I cancel).

[2021-07-14 15:32] ritchie46 commented on #983
Again interesting! It should not have less algorithmic complexity. After inspecting the code, I found that `fold` parallelizes the arguments evaluation in a divide and conquer manner, where a normal `+` operation does not.

I also added `concat_str` function in #984. This should have linear time complexity.

I will benchmark later. Or you could already try it out, if you don't mind compiling. :)

[2021-07-14 16:05] ritchie46 commented on #983
Benchmarks with the new `concat_str` function:

pandas:
[code]
2.721155881881714 s

polars as in this issue:
[code]
11.807398319244385 s

polars fold:

[code]
3.3436739444732666 s

polars concat_str

[code]
0.38724207878112793 s

[2021-07-14 16:31] potter420 commented on #983
Thanks for the benchmark. I did my own test too on AWS c5 EC2, 3.61GZ , total of 50 columns:
pandas: 10.800254106521606 s
polars: 1.4643571376800537 s

Blazingly fast as promised.

[2021-07-14 16:32] ritchie46 commented on #983
:slightly_smiling_face:

[2021-07-14 16:47] ritchie46 commented on #983
@potter420 Would a `hash_row` method be of value to you guys? Internally this is also needed for grouping and joining. A row would be hashed to a `UInt64` Series, which would be a lot quicker.

[2021-07-14 17:49] potter420 commented on #983
Yes it is, but we also need it casted to Int64 as well. Redshift does not like Uint64 for some reason :(
Currently we use xxh3 as our hashing algorithm.
Our python hash function currently:
[code]

[2021-07-14 19:45] ritchie46 opened #986 "set polars csv parser as default"
Latest refactors set pyarrow as default

[2021-07-15 09:21] ztsweet opened #988 "The documentation is too brief"
polars function coverage is not clear enough

[2021-07-15 09:24] ritchie46 commented on #988
Hi, I am working day at night at this and I do what I can. Any help on improving the documentation would be welcome.

[2021-07-15 09:28] ritchie46 commented on #986
fixed in #987

[2021-07-15 09:28] #986 closed

[2021-07-15 11:12] potter420 commented on #988
Hi @ztsweet , @ritchie46, I have been working with polars for our ETL and "educate" my team mate on it, tell me how can I help regarding the documentation?

[2021-07-15 12:49] ritchie46 commented on #988
@potter420 , any input would be great. Especially from a user side of things. Any document on expressions, folds, etc. would be very welcome. Here is the [user-guide](https://github.com/pola-rs/polars-book). I think there are probably chapters missing.

Have you got an idea of what you'd like to see?

[2021-07-15 13:11] potter420 commented on #988
@ritchie46 I think l'll do it pandas style, which provide explanation of the function and each variables and add some example. Also provide some gotcha if I can during experimenting.

[2021-07-15 14:45] ritchie46 commented on #988
@ritchie46 I think l'll do it pandas style, which provide explanation of the function and each parameters and add some example. Also provide some gotcha if I can during experimenting.

Of course, I think that woulf be valuable for users. The more the better. :)

[2021-07-15 15:56] ritchie46 opened #989 "python: ffspec read gzipped files"
Fix implementation and add a test so that regression is mitigated in the future. See #943

[2021-07-16 00:41] ztsweet commented on #988
nice!!!come on !!!

[2021-07-16 17:31] marcvanheerden commented on #956
Sorry for the delay and lots of questions here, just wanted to clarify.
If I'm not mistaken we do use the `csv` crate outside of schema inference.

We currently rely on the `csv` crate for the following:
1) `csv::Reader`, which is a wrapper for the `csv_core::Reader`, and is used in the `build_csv_reader` and `infer_file_schema` functions and the `build_inner_reader` method.
2) `ByteRecordsIntoIte

[2021-07-17 11:42] stinodego opened #993 "(Python) DataFrame constructor improvements"
I think the `DataFrame` constructor can be a lot more user friendly and consistent. Here how the constructor currently reacts to a bunch of different inputs (:heavy_check_mark:=works as expected, :x:=error, :large_orange_diamond:=works but has limitations)

:x: empty constructor
:heavy_check_mark: empty list
:heavy_check_mark: empty dict
:heavy_check_mark: dict of lists
:heavy_check_mark: dict of

[2021-07-18 07:44] potter420 opened #994 "Jsonpath Extractor"
#### Jsonpath Extractor for certain columns

Can we implement some jsonpath extractors to json text column (UTF8). I can think of 2 functions:
Series.extract_json_path_single -> return a single UTF8 columns, null or raise error up on encountering non-json values maybe?
Series.extract_json_path_all -> return series of list type, which then can be exploded to the original dataframe.

I'm thinking of

[2021-07-18 11:41] stinodego opened #995 "(Python) Series constructor improvements"
I've mentioned this before in issue #960: the ordering of the Series constructor arguments. I think this is an important issue that we should fix sooner rather than later, so allow me to write down my thoughts on the issue.

### The issue

The Series constructor expects `name` before `values`, like so:

[code]

However, it also allows the user to input just the values:

[code]

Which is weird, fro

[2021-07-19 02:47] XianglinZhang-risker opened #996 "Provide an interface for R language"
Hello, have you considered providing an interface for R language? R language has packages to call Rust. I don’t know the difficulty level. If you want, I hope we can work together or find someone who is very good at R language to complete this task. This must be a great job, and I have observed that it is faster than data.table. Thanks.

[2021-07-19 06:56] ritchie46 commented on #993
I totally agree on this one. I think that all paths you tested should be added to the tests and/ we probably can improve error messages as well.

In the csv-parser, in the case of no header, we create the columns ourselves: `column_0, column_1, ... column_n`. We could do something similar for unnamed values.

Agree, I think the behavior should be:

columns = None -> use the `Series` name attribute

[2021-07-19 07:25] ritchie46 commented on #995
The decision to make `Series` named was a design choice that goes back deep into the Rust implementation.
I honestly don't feel that bad about that hack. I think that if we document it, and maybe change the `args, kwargs`, it can be documented and viewed as an overloaded `__init__`

## key, value
`__init__(name: str, values: List[float])`

## value
`__init__(values: List[float])`

Where I'd like t

[2021-07-19 07:33] ritchie46 opened #997 "Consider `Option<String>` for Series::name"
This would allow use replacing `None` with a column name in `DataFrame` creation. Currently, an empty string is often used, but we are not allowed to replace that empty string as it could be user provided and then we must throw an error because of duplicate names. An `Option<String>` would provide more information to us.

Following #995

[2021-07-19 07:34] ritchie46 opened #998 "Allow empty Series creation."
Creating a `Series` by passing an empty list should create a `Series` of `Float32`. The latter dtype as it seems most versatile.

[2021-07-19 07:35] ritchie46 commented on #995
#998

[2021-07-19 07:35] stinodego commented on #993
Cool, I'll do some work on this then.

If you give the constructor an np.ndarray right now, it names the columns `0`, `1`, `2`, etc. In other places like `from_rows` I've seen `column_0`, etc. like you mentioned. Which do you prefer? I find it more clear without the `column_` prefix; we know that they're columns, no need to specify that. It's also easier to iterately call the columns by name if th

[2021-07-19 07:45] ritchie46 commented on #997
@stinodego following your proposal at #995. I do think that this would be a good API improvement. I will refactor to make this happen.

[2021-07-19 07:52] stinodego commented on #995
OK, I will try to improve the documentation on this. I'll extend the docstring with some usage examples.

I do agree with your reasoning for putting `name` first, by the way.

If you consider values first an anti-pattern, why not deprecate it?

[2021-07-19 08:02] stinodego commented on #997
Great! I could take care of the Python side if you wish, once you're done with the Rust implementation.

[2021-07-19 08:13] ritchie46 commented on #994
That seems useful! If you can add it under a feature flag, I am all for.

[2021-07-19 08:20] ritchie46 commented on #995
People want to hack and slash away in notebooks and sometimes don't care for the name of the `Series` (myself included). It exists for that reason. Polars thinking: "Ok, its not how it should be, but I understand what you mean :wink:"

[2021-07-19 08:26] ritchie46 commented on #993
The `column_` prefix is already used in the csv-parser. So that would be more consistent. I don't really care about the actual naming, but the prefix would reduce some breakage and refactors.

Yes, you are right. I think its highly improbable that a user uses an empty string as column name. Ignore what I said. :)

[2021-07-19 08:35] potter420 commented on #994
I'm currently testing `extract_json_path_single `, put it under extract_jsonpath feature flag. But my implementation is kind of weird. I try to find a way to construct new array with null value without using the builder, this is what I come up with:
[code]

[2021-07-19 08:43] stinodego commented on #993
All right, we'll include the `column_` prefix!

[2021-07-19 09:44] ritchie46 commented on #998
Added in #999

[2021-07-19 09:44] #998 closed

[2021-07-19 09:51] ritchie46 commented on #994
You can use [apply](https://docs.rs/polars/0.14.7/polars/chunked_array/ops/trait.ChunkApply.html#impl-ChunkApply%3C%27a%2C%20%26%27a%20str%2C%20Cow%3C%27a%2C%20str%3E%3E).

Something like:

[code]

[2021-07-19 10:04] ritchie46 commented on #983
Added and released

[2021-07-19 10:04] #983 closed

[2021-07-19 10:41] ritchie46 commented on #956
Hi Marc,

I understand you're questions. There is a bit of legacy. I did some pre-work for you in #1001. This removes the `csv_core::Reader` from `SequentialReader` (renamed to `CoreReader`) as it was not used. `CoreReader` only needed an `R: Read`.

I believe that after #1001. The only function using the `csv` readers is `infer_file_schema`.

[2021-07-19 11:48] potter420 commented on #994
Thanks, I actually went with `apply_on_opt` so that it allow None to be return when encounter valid JSON, JSONPath but no match is found.

[2021-07-19 15:27] multimeric opened #1003 "Mention when functions are feature-conditional"
#### Describe your feature request

Certain functions/methods, e.g. [`DataFrame.to_ndarray()`](https://docs.rs/polars/0.14.7/polars/prelude/struct.DataFrame.html#method.to_ndarray) are not compiled by default, and require something like `polars = { version = "*", features = ["ndarray"] }` in your `Cargo.toml`. Now I'm a very new Rust user, but I found it confusing that this wasn't mentioned in doc

[2021-07-19 17:37] ritchie46 commented on #1003
The documentation on master has a tag next to the [to_ndarray](https://pola-rs.github.io/polars/polars/frame/struct.DataFrame.html#method.to_ndarray) function saying **This is supported on crate feature ndarray only.**.

The opt-in features are also described in the main page of the documentation [here](https://pola-rs.github.io/polars/polars/index.html#compile-times-and-opt-in-features).

Now, I

[2021-07-20 01:03] multimeric commented on #1003
Hmm yes this seems to be a new feature. I don't quite understand, but [this page](https://doc.rust-lang.org/beta/unstable-book/language-features/doc-cfg.html) implies it's still considered unstable, so maybe that's why `doc.rs` doesn't use it? In any case, you've provided a few alternative ways of viewing feature tags, and the main docs might be automatically updated in the future so thank you.

[2021-07-20 01:03] #1003 closed

[2021-07-20 01:20] multimeric opened #1006 "Bump ndarray"
#### Describe your feature request

Currently `polars` depends on `ndarray` 0.13 :https://github.com/pola-rs/polars/blob/master/polars/polars-core/Cargo.toml#L119. However, `ndarray` itself is up to `v0.15.3`, including the supporting crates like `ndarray_stats`. I wonder if this can be bumped?

[2021-07-20 05:38] multimeric commented on #1006
I should mention, this came up here on Stack Overflow, causing a bug: https://stackoverflow.com/questions/68443825/how-do-i-use-ndarray-statscorrelationext-on-a-polarspreludedataframe

[2021-07-20 06:40] ritchie46 commented on #1006
Yes, we can update. I will look at that.

[2021-07-20 06:48] multimeric commented on #1006
I'm happy to submit the PR if it's as simple as bumping the version, but I'm not sure if it is 😅

[2021-07-20 06:58] ritchie46 commented on #1006
It probably is. :)

[2021-07-20 11:41] ghuls opened #1010 "`lexical` and `fast-float` might soon not be needed."
#### Describe your feature request

`lexical` and `fast-float` might soon not be needed anymore as fast-float like algorithm is merged in the standard library.

https://github.com/rust-lang/rust/pull/86761
https://www.reddit.com/r/rust/comments/omelz4/making_rust_float_parsing_fast_libcore_edition/

[2021-07-20 12:17] ritchie46 commented on #705
This has been implemented

[2021-07-20 12:17] #705 closed

[2021-07-20 13:07] #1006 closed

[2021-07-20 13:48] jonekeat commented on #996
@andy-thomason & @jeroen might able to leave some suggestions

[2021-07-20 16:21] ritchie46 commented on #1010
I saw! :slightly_smiling_face:

We still need `lexical` for the integer parsing, but `fast-float` is out.

[2021-07-20 19:28] #993 closed

[2021-07-20 20:20] stinodego opened #1011 "Deprecate `from_rows`"
With the newly added functionality in the DataFrame constructor, the `from_rows` method in `functions.py`, as well as the `DataFrame.from_rows` method, seem outdated. We can deprecate those and suggest using the `DataFrame` constructor instead with the `orientation='row'` argument. That seems more Pythonic.

Now that I think about it, we should deprecate `from_arrow` and `from_pandas` as well, and

[2021-07-21 01:41] xianglinZ commented on #996
Sorry, I clicked close by mistake.

Of course, they are all outstanding contributors to the R language, and extendr provides a good way to call Rust for R. It would be great if they were willing to join.

[2021-07-21 06:54] ritchie46 commented on #1011
The `from_pandas` and `from_arrow` may produce a `Series` as well as a `DataFrame`. IMO the specific constructors may still exists in the API. The constructor dispatches to them. Explicitness can improve readability.

In pandas API there is also `DataFrame.from_dict` and `DataFrame.from_records`.

[2021-07-21 06:56] #995 closed

[2021-07-21 07:23] stinodego commented on #1011
All right, if you look at it that way: we could 'unpack' the constructor to make all types that it can interpret explicit functions. So DataFrame would get a `from_dict`, `from_pandas`, `from_ndarray`, etc. Same for Series. That would actually make the constructors much more readable, too. Does that sound like a good idea?

We can then keep the `from_pandas` etc. in `functions.py` to automatically

[2021-07-21 07:49] ritchie46 commented on #1011
I think that's a good idea.

Perhaps its a good idea to create a `conversion.py` module. This should make it more clear that we convert from external datatypes to polars and infer the needed polars type. This should have an `from_arrow`, `from_pandas`, `from_numpy`, and maybe other future types.

[2021-07-21 09:05] stinodego commented on #1011
Okay, I'll give that a shot later this week!

[2021-07-21 11:39] andy-thomason commented on #996
This looks like an interesting project. I made a fairly large contribution to Arrow a couple of years ago as we were using it for bioinformatics data at work.

It should be fairly easy to generate bindings using **extendr** and you would be welcome to raise an issue and get some help from the team.

I'll try to look over your project in the next few days.

[2021-07-21 13:29] ritchie46 commented on #989
Rust native solution added

[2021-07-21 13:29] #989 closed

[2021-07-21 15:31] Alexhuszagh commented on #1010
I'll be working on making lexical lighter for integer parsing. So compile times should increase. And, ideally, bring those back into Rust core as well.

[2021-07-21 20:55] stinodego commented on #1011
I did some work, encountered a few things.

First of, moving some of the constructor logic to the `from_x` methods doesn't work. The `from_x` methods must be static or classmethods, and so it doesn't make sense to use those in a class constructor. So, I'm leaving the constructors intact for now. I saw pandas has an internal `constructions` module where they put all this logic; seems kinda neat to

[2021-07-22 07:13] ritchie46 commented on #1011
You could use `self._df =from_x(...)._df` in the constructor. It would improve readability and code duplication.

I actually want to make the separate DataFrame class methods private and document the `pl.from_x` and the DataFrame constructor as idiomatic.

Agree. :slightly_smiling_face:

[2021-07-22 07:19] multimeric opened #1019 "Implement `ndarray::AsArray` on `DataFrame`"
#### Describe your feature request

Currently we have a [`DataFrame.to_ndarray()`](https://docs.rs/polars/0.14.7/polars/frame/struct.DataFrame.html#method.to_ndarray) method, but we never actually implement a trait indicating that a `DataFrame` can be converted to an array. It seems like the ideal trait to target is `ndarray::AsArray` (which wraps `Into<ArrayView>`).

Implementing this would allow

[2021-07-22 08:36] ritchie46 commented on #1010
Very nice. Great work on the float parsing. :rocket:

[2021-07-22 08:58] stinodego commented on #1011
I saw that pattern in the Series constructor. There's a few things about that I don't like:
* It just feels wrong to have a class constructor call another method that constructs an object of that same class, then take part of that object, and then use it in the constructor to finish building the class. Convoluted and inefficient.
* The DataFrame constructor currently converts all inputs to a list

[2021-07-22 09:08] ritchie46 commented on #1011
So you'd propose doing that only in the `__init__`? A function seems ok to me.

Doing it in private specific constructors is fine by me as well. I think that's what you are proposing here?

I think I agree. :)

That was easier for FFI. But the end user should not know about our FFI preferences that's why I'd like private specific constructors:

* `DataFrame._read_csv`
* `DataFrame._read_ipc`

etc.

[2021-07-22 09:44] stinodego commented on #1011
Hmm, I can't envision the solution 100% yet, but I think I have enough to go on for now. I'll work on this some more tonight or in the weekend.

[2021-07-22 10:19] stinodego commented on #1011
The code for parsing a pandas DataFrame in the constructor is completely different from the parsing logic in `pl.from_pandas`; most notably the `pl.from_pandas` (and `pl.from_arrow`) takes a `rechunk` argument; should this be available in the `DataFrame` constructor as well?

[2021-07-22 11:15] ritchie46 commented on #1011
I think that if we encounter a pandas table or an arrow table in the constructor we should dispatch to `pl.from_pandas` using that functions default arguments. If users want more control, they ought to use the specialized functions.

[2021-07-22 14:40] ghuls opened #1023 "Selecting thousands/2M of columns is slow"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.12 (arrow2 branch)

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

Selecting a huge number of columns from an existing dataframe seems to take more time than it should:

[code]

[2021-07-22 14:48] ritchie46 commented on #1023
What are your timings if you run

[code]

That should not be thrown on the threadpool.

[2021-07-22 15:23] ghuls commented on #1023
[code]

When giving a numpy array to df (df[np_array]) polars returns None.

[2021-07-22 15:32] ritchie46 commented on #1023
Oh, it hits the same branch. https://github.com/pola-rs/polars/blob/305df5d054e8d4391d3d94e8be2683488f95e732/py-polars/polars/eager/frame.py#L915

I will have a look.

[2021-07-22 15:59] ghuls commented on #1023
Also in the beginning of the function there is a:
[code]

So I assume it never hits the first `if isinstance(item, np.ndarray):` branch anymore:
https://github.com/pola-rs/polars/blob/305df5d054e8d4391d3d94e8be2683488f95e732/py-polars/polars/eager/frame.py#L921-L942

but hits the Series branch (which doesn't support strings as far as I can tell).

[2021-07-22 16:06] jorgecarleitao commented on #1023
Uf, I am pleasantly surprised that the IPC reader can chew 2M columns. We would certainty benefit from projection push down, though.

[2021-07-22 16:17] ghuls commented on #1023
I am surprised it is able to load it relatively fast, but then later subsetting is so slow (I assume due to python function call overhead).

Also using a polars series with `df[]`returns None.

[2021-07-22 16:27] ritchie46 commented on #1023
Now that I think of it. You have random permutations and every named lookup is a linear search through column names. Given that there are 2 million columns this gets slow.

Maybe we should hash above a certain threshold.

[2021-07-22 16:34] ritchie46 commented on #1023
Yes.. that would be a valuable addition.

[2021-07-22 16:37] ghuls commented on #1023
Indeed hashing might help. I think theoretically a arrow table can have more than one time the same name (not that that is the case for me), so probably there should be a check for that.

[2021-07-22 16:44] ghuls commented on #1023
I also managed to get a panick when trying to select columns via numerical indexes: ```
thread '/software/polars/polars/polars-core/src/chunked_array/kernels/take.rsthread 'thread ':<unnamed>123<unnamed>' panicked at '<unnamed>' panicked at ':index out of bounds: the len is 24453 but the index is 262480index out of bounds: the len is 24453 but the index is 262480' panicked at '', 20index out of bo

[2021-07-22 16:47] ritchie46 commented on #1023
Could you create an issue with an example? I will take a look.

And I will add a hashing algorithm to the column selection code.

[2021-07-22 17:07] ghuls opened #1024 "Panic when Dataframe is indexed with list of row indexes where at least one is out of bounds."
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?
0.8.12

#### What operating system are you using polars on?

CentOS7

#### Describe your bug.

Panic when Dataframe is indexed with list of row indexes where at least one is out of bounds.

When just one row index (not as list) is given (which can be out of bounds), there is no crash.

#### What are the step

[2021-07-22 22:27] mahdikooshkbaghi opened #1025 "The pandas Series.mode() equivalent."
Is there any equivalent to `pandas.Series.mode`?
https://pandas.pydata.org/docs/reference/api/pandas.Series.mode.html

I am doing something like the following  with lambda function which is not ideal for threading purposes.
[code]
Which can be replaced by
[code]

[2021-07-23 00:25] olivier-lacroix opened #1026 "read_csv of a compressed file fails when selecting a subset of columns"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.13-beta.1

#### What operating system are you using polars on?

Linux

#### Describe your bug.

read_csv of a compressed file fails when selecting a subset of columns

#### What are the steps to reproduce the behavior?

[code]

#### What is the actual behavior?

[code]

[2021-07-23 01:06] olivier-lacroix commented on #773
I guess this issue can be closed now that polars decompresses CSVs on the rust side of things?

[2021-07-23 09:16] ritchie46 commented on #1024
@jorgecarleitao this hits the arrow take kernels. I think that it would be better that the `safe` variants of the `take` kernels return an `Error` when indices are out of bounds, what do you think?

[2021-07-23 17:24] marcvanheerden commented on #956
Sorry for the delay, still working on this. Should wrap it up this weekend

[2021-07-24 09:42] ritchie46 commented on #1025
Added and released. :+1:

[2021-07-24 09:42] #1025 closed

[2021-07-24 09:42] ritchie46 commented on #1011
Deprecated.

[2021-07-24 09:42] #1011 closed

[2021-07-24 10:26] ritchie46 commented on #994
merged in #1033

[2021-07-24 10:26] #994 closed

[2021-07-24 13:53] ritchie46 commented on #653
I am closing this as it seems inactive and missing values are properly indicated with `None`.

[2021-07-24 13:53] #653 closed

[2021-07-24 13:55] ritchie46 commented on #1019
Seems like a trivial addition. Could you make a PR for that?

[2021-07-24 13:59] multimeric commented on #1019
Yep, happy to.

[2021-07-24 15:20] multimeric commented on #1019
On second thoughts, I think the levels of generics involved here are a bit beyond me for now.

[2021-07-24 15:39] ritchie46 commented on #1019
Now that I look better at the implementation. I don't think this would work for a DataFrame. The conversion returns a view to an Array, which does not exist. A DataFrame can only be concerted to an owned Array.

[2021-07-24 15:53] multimeric commented on #1019
Hmm good point. Maybe what I'm after is just an implementation of `Into<Array>` (which isn't aliased). I would like this so that I can write an API that takes a `DataFrame` or a raw `Array` as the same parameter.

[2021-07-24 16:10] ritchie46 commented on #1019
Yes. A PR implementing the Into trait is also welcome. :)

[2021-07-24 16:11] ritchie46 commented on #956
No worries, it's your time. :)

[2021-07-24 17:32] stinodego opened #1035 "(Python) `pl.from_pandas` inconsistent with `DataFrame` constructor"
The `from_pandas` in `convert.py` has logic that is completely different from the logic of `pandas_to_pydf` in `construction.py`. To me, it's not clear which logic is prefered or what is even the difference; I think we should be consistent, though. Which way to go on this?

Also, `Series` doesn't have a `_from_pandas` classmethod at all. We should add that.

[2021-07-24 19:07] ritchie46 commented on #1035
I didn't realize we had 2 implementations for this. The logic in `convert.from_pandas` is up to date. The other one can be removed. It also does not handle time conversion properly.

[2021-07-24 19:19] stinodego commented on #1035
All right, I'll try to update that!

[2021-07-25 08:14] ritchie46 opened #1038 "feature gate `take_from_opt_iter`"
I don't think many people need it. Don't pay the compilation cost.

[2021-07-25 08:33] ritchie46 opened #1039 "remove usage of `take_single`"
At least create a `Taker` struct when possible. The `take_single` has not information whatsoever and will have to do assertions every call.

[2021-07-25 08:36] ritchie46 opened #1040 "`ZipOuterJoin` should have a fast path for single chunks"
Currently the `TakeRandom` traits are used, but this is expensive for the most common case, single chunks.

[2021-07-25 09:07] ritchie46 opened #1043 "json_path extractor could do less heap allocs"
The dependency used to extract json paths does a vec and multiple string allocs per query. We could do a PR and improve their API. Allocations could be amortized.

Another useful feature would be a `take` similar to `std::mem::take`.

[2021-07-25 10:31] potter420 commented on #1043
Just to link here since it has been raised
https://github.com/freestrings/jsonpath/issues/72

[2021-07-25 10:56] #1035 closed

[2021-07-25 11:17] #1038 closed

[2021-07-25 15:18] ritchie46 commented on #1043
@potter420, I saw that your forked. When I worked on this, I had quite a clear view how it could be improved, if you want any discussion on this, let me know.

[2021-07-25 19:45] potter420 commented on #1043
I'm quite new to Rust, and still trying to wrap my head around it. I forked to try to figure out something on my own for learning experience mostly. This lib seem to be teaching a lot about heap and stack allocation and when they should be used.

[2021-07-25 20:55] ghuls commented on #1023
Hashing for column selection improved performance enormously (arrow2 branch):
[code]

[2021-07-26 06:41] ritchie46 opened #1048 "improve `take` kernel for ListChunked"
Internal code branches hit take from iter, which is slow.

[2021-07-26 10:15] ghuls commented on #1023
@jorgecarleitao I will try to test the rust IPC reader now. I just saw that in this case it was actually using pyarrows IPC reader (this feather file was in Feather v1 format, and not v2 format (IPC on disk)).

pyarrow had problems with reading this file in Feather v2 format in the past (could write it), due Flatbuffer verification problems as it only could handle 1_000_000 columns (500 000 real d

[2021-07-26 12:05] groundf opened #1051 "The `polars-py` fails with basic example"
#### Are you using Python or Rust?

Python (3.9.1  [MSC v.1927 64 bit (AMD64)])

#### What version of polars are you using?

0.8.13

#### What operating system are you using polars on?

Windows 10 64bit

#### Describe your bug.

The basic example from the documentation

[code]

panics with the error message

[code]

[2021-07-26 12:25] ghuls commented on #1023
@jorgecarleitao
I think we hit the same bug that (py)arrow had (flatbuffer 1 milion hardcoded limit).

In (py)arrow, it was solved with this commit: https://github.com/apache/arrow/pull/9447
(`max_tables` was increased, but the max number of tables is dependent on the size of the of the footer, to prevent denial of service by crafted IPC files).

[code]

[2021-07-26 12:47] ghuls commented on #1023
@jorgecarleitao
I think if your you replace `gen::File::root_as_footer` with `gen::File::root_as_footer_with_opts`, you can set the max_table option: At https://github.com/jorgecarleitao/arrow2/blob/16c089e0c4c2b079da10b6fb8fbec19cdabaeab3/src/io/ipc/read/reader.rs#L98

https://docs.rs/flatbuffers/2.0.0/src/flatbuffers/get_root.rs.html#39-49

[2021-07-26 12:57] ritchie46 commented on #1051
Thanks for the issue report. We changed the backend and this regression was not noted.

If you downgrade to `polars==0.8.12` it works as expected. I will update right away.

[2021-07-26 14:51] ritchie46 commented on #1023
I will close this because the issue was resolved. Not to stop the discussion. Please go along. :)

[2021-07-26 14:51] #1023 closed

[2021-07-26 14:55] ritchie46 commented on #1024
Fixed. On the just released `0.8.14` version:

[code]

[code]

[2021-07-26 14:55] #1024 closed

[2021-07-26 14:56] ritchie46 commented on #1051
This is now fixed and released. If you run `pip install polars==0.8.14` everything should run fine.

[2021-07-27 12:33] ritchie46 opened #1053 "python: take should directly convert into `Vec<u32>`"
This saves a redundant alloc in some take impls.

[2021-07-27 14:31] #967 closed

[2021-07-27 14:36] potter420 opened #1056 "Filter then Select New Column Panic on empty filtered data"
#### Are you using Python or Rust?

Python

#### What version of polars are you using?

pypolars=0.8.14

#### What operating system are you using polars on?

Amazon Linux 2

#### Describe your bug.

Filter a dataframe and select to create new columns panic when print or out put but not when assigning

#### What are the steps to reproduce the behavior?

[code]
#### What is the actual behavior?

[co

[2021-07-27 17:05] #1056 closed

[2021-07-27 17:15] ritchie46 commented on #1056
@potter420, it should be fixed now. Thanks for the notification.

[2021-07-28 19:43] swfsql opened #1058 "Wrong documentation on polars_core::datatypes::AnyValue::List"
On it's [definition](https://github.com/pola-rs/polars/blob/4af944380df6ae4408f0e77316e18ae3e3ae6a0c/polars/polars-core/src/datatypes.rs#L230), the `List` has documentation related to "Naive Time", which probably is of another variant or enum.

[2021-07-29 07:49] ritchie46 commented on #1058
Thanks, will fix it!

[2021-07-29 09:46] ritchie46 commented on #1058
Fixed in #1059

[2021-07-29 09:46] #1058 closed

[2021-07-29 09:46] #1051 closed

[2021-07-29 15:10] potter420 opened #1063 "Read Avro Data File"
#### Describe your feature request

Polars or Py-polars can have some function to read avro data files.

I wrote some small packages to read avro into arrow struct array format based on arrow2 and avro-rs packages. Also have some python bindings. It only deal with flattened data for now, but should be able to handle any kind of nested data soon.
I'm planning to release it in the next few days.

Do

[2021-07-29 15:43] jorgecarleitao commented on #1063
Hey! developer of arrow2 here; Super exciting!  do you have a link or public repo over this?

[2021-07-29 15:48] potter420 commented on #1063
I organizing my code to publish it soon, my private repo have rusoto as dependencies to read from S3, so I would remove that.
I have to say I'm pleased with the performance. The 5x faster than the equivalent code in python (may be poorly written) and concurrency out of the box with `rayon`. I'm cherry picking the commit that you have added all the FFI types to achieve maximum compatibility with `p

[2021-07-29 18:11] potter420 commented on #1063
@jorgecarleitao  Here is my repos, feel free to use/reuse any parts of the code.
https://github.com/potter420/arrow_avro_rs

Thanks for creating arrow2. I'm having a blast with it.

[2021-07-30 02:03] bmschmidt opened #1064 "Roundtrip from arrow fails with list columns"
Thanks for your continued dedication to this project. Excited to see how the new rust arrow implementation improves things.

#### Are you using Python or Rust?

Python

#### What version of polars are you using?

0.8.14

#### What operating system are you using polars on?

Ubuntu 18.04

#### Describe your bug.

When writing a polars dataframe that contains a list column to arrow, I get errors abou

[2021-07-30 07:38] ritchie46 commented on #1064
Thank you. :slightly_smiling_face:

This is fixed in  #1065

[2021-07-30 07:39] #1039 closed

[2021-07-30 08:24] groundf commented on #1051
Now it works! Thank you for your work and support. All the best.

[2021-07-30 12:03] ghuls commented on #1023
@jorgecarleitao I implemented it in the same way as the arrow C++ implementation solved it: https://github.com/jorgecarleitao/arrow2/pull/240

[code]

@ritchie46 For reading Feather v2 files with compression `polars/polars-io/Cargo.toml` should enable `features = ["io_ipc_compression"]` for the arrow2 dependency.

[2021-07-30 12:56] ritchie46 commented on #1063
Nice @potter420. This functionality would definitely be valuable behind a `feature` flag.

[2021-07-30 13:34] ghuls opened #1069 "Pyarrow 5.0.0 is released"
Pyarrow 5.0.0 is released:
https://arrow.apache.org/release/5.0.0.html

I don't think there are big (incompatible) changes, so I assume polars should work with both 4.0.* and 5.0.* (`py-polars/pyproject.toml`).

[2021-07-30 13:47] ritchie46 commented on #1069
Yes good one. Both should work indeed.

[2021-07-30 14:33] ghuls commented on #1069
I only don't know how to specify multiple major versions:

https://www.python.org/dev/peps/pep-0440/#id61 lists only examples for subversions.

Not sure it this works:
[code]

[2021-07-30 16:07] ritchie46 commented on #1069
Isn't it something like `pyarrow>=4.0`?

[2021-07-31 11:56] marcvanheerden commented on #956
this issue can be closed, not sure why github didn't autoclose it

[2021-07-31 12:14] marcvanheerden commented on #1040
I'll pick this up if thats okay

[2021-08-01 08:59] ritchie46 opened #1074 "Documentation multiple line arguments mess up rendering."
I tried two extension to render numpy style docs.

* sphinx-napoleon
* numpydoc

Both have issues with rendering. Take [this source docstring](https://github.com/pola-rs/polars/blob/97ea807f21af6cc8318563f3561287a108f0f8aa/py-polars/polars/io.py#L311)

This renders in the following ways:

## sphinx-napoleon

![image](https://user-images.githubusercontent.com/3023000/127769089-a20719a7-c5ac-4bb3-90

[2021-08-01 09:01] ritchie46 commented on #1074
Problem with `numpydoc` is that it renders the whole block improperly:

![image](https://user-images.githubusercontent.com/3023000/127765451-efa4a233-0240-471c-9a9f-d299796dc0f6.png)

[2021-08-01 09:01] ritchie46 commented on #1040
Ah, yes! :slightly_smiling_face:

[2021-08-01 11:34] ritchie46 commented on #1074
https://github.com/numpy/numpydoc/issues/329

[2021-08-01 15:01] potter420 opened #1076 "Panic when drop duplicate on dataframe with a null column and 1 rows"
#### Are you using Python or Rust?

**Python***

#### What version of polars are you using?

0.8.15

#### What operating system are you using polars on?

Amazon Linux 2

#### Describe your bug.

Polars throw Panic Exception when doing deduplicate on dataframe with 1 rows

#### What are the steps to reproduce the behavior?
[code]
#### What is the actual behavior?
```PanicException: index out of bou

[2021-08-02 05:59] potter420 opened #1077 "Index out of bound when joining dataframe with nullable columns"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.15

#### What operating system are you using polars on?

Amazon Linux 2

#### Describe your bug.

When we join a dataframe of size 1 and a dataframe with null column

#### What are the steps to reproduce the behavior?

[code]

#### What is the actual behavior?
[code]

Furthermore, In the one other case

[2021-08-02 06:09] potter420 commented on #1076
Probably related to #1077

[2021-08-02 07:16] ritchie46 commented on #1077
Thanks @potter420, this is fixed in #1079

[2021-08-02 07:17] ritchie46 commented on #1074
Fixed

[2021-08-02 07:17] #1074 closed

[2021-08-02 07:35] #1076 closed

[2021-08-02 11:18] potter420 commented on #1077
Thanks you very much @ritchie46

[2021-08-02 11:18] #1077 closed

[2021-08-02 13:36] ritchie46 commented on #1069
fixed and released.

[2021-08-02 13:36] #1069 closed

[2021-08-02 13:36] ritchie46 commented on #1064
fixed and released.

[2021-08-02 13:36] #1064 closed

[2021-08-02 13:38] ritchie46 commented on #52
Added with connector-x

[2021-08-02 13:38] #52 closed

[2021-08-02 13:38] #53 closed

[2021-08-02 13:38] ritchie46 commented on #156
Added in `PolarsObject`

[2021-08-02 13:38] #156 closed

[2021-08-02 13:42] ritchie46 opened #1082 "Add python slice index `df[::2]`"

[2021-08-02 17:34] davideger opened #1083 "Rosetta stone for groupby between pandas and polars?"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

polars 0.8.16

#### What operating system are you using polars on?

manylinux x86_64 (google colab)

#### Describe your bug.

I'm trying to translate the following pandas code to polars:
[code]

Output:

commodity | location | seller | price
-- | -- | -- | -- | --
Wheat | Chicago | Paul | 0.55
Wheat | StPa

[2021-08-02 18:11] ritchie46 commented on #1083
Hi, That's an interesting one. A snippet that produces the same output is this:

[code]

However, I understand that a `head(n)` aggregation is far more ergonomic, I will see if I can add that.

[2021-08-02 18:31] ritchie46 opened #1084 "keep_name expression"
`col("*").agg(..).keep_name()` resets the final name to the name of the root column

[2021-08-02 18:32] ritchie46 opened #1085 "exlude expression"
`col("*").exlude("bar")`

[2021-08-02 18:33] ritchie46 opened #1086 "head/tail aggregation"
Could be : `col("*").exclude("key").head().list()` followed by an explode.

[2021-08-03 06:47] ritchie46 opened #1087 "drop_null expression"

[2021-08-03 07:55] #1084 closed

[2021-08-03 09:49] #1085 closed

[2021-08-03 09:55] ritchie46 commented on #1083
Ok, with the mergin of #1088, #1089, #1090 you can now do:

[code]

which is syntactic sugar for:

[code]

[2021-08-03 10:40] #1086 closed

[2021-08-03 12:17] #1053 closed

[2021-08-03 13:18] #1082 closed

[2021-08-03 13:18] #1087 closed

[2021-08-03 17:51] davideger commented on #1083
very nice; thank you :-)

[2021-08-03 18:46] davideger opened #1093 "polars hiccup with pyarrow 5.0"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

Polars 0.8.16, Pyarrow 5.0

#### What operating system are you using polars on?

Google colab (x86-64)

#### Describe your bug.

[code]
It looks like pyarrow 5.0 is incompatible with the distribution of polars 0.8.16.  I get this error message on import:
[code]

If I force `pyarrow=4.0.1` the issue goes aw

[2021-08-03 19:13] ritchie46 commented on #1093
Could you try version `0.8.17`. Does that work with pyarrow 5.0?

[2021-08-03 19:21] davideger commented on #1093
Aha that fixed it, thank you!

[2021-08-03 19:21] #1093 closed

[2021-08-04 09:07] ghuls commented on #1023
@ritchie46 My patch for reading Feather v2 files with arrow2 was merged. Can you add `features = ["io_ipc_compression"]` to `polars/polars-io/Cargo.toml` when you update the arrow2 branch of polars and use this commit of arrow2 (or newer) https://github.com/jorgecarleitao/arrow2/commit/8e146a78f53899dd7f7166512c1b73a51803b0ab

[2021-08-04 13:11] ritchie46 commented on #1023
Nice! Could you make a PR for that?

[2021-08-04 14:07] ghuls commented on #1023
Yes. PR in preparation.

[2021-08-05 06:44] ztsweet opened #1098 "PanicException: assertion failed: i < (self.bits.len() << 3)"
#### Are you using Python or Rust?
python
#### Which feature gates did you use?
groupby agg etc.
#### What version of polars are you using?
0.8.17
[code]

[2021-08-05 07:54] ritchie46 commented on #1098
Hey thanks for your issue report, but have you also got your input data?

[2021-08-05 07:55] ritchie46 commented on #1098
Note that `parse_date` is deprecated. `strptime` is the recommended function.

[2021-08-05 07:58] ztsweet commented on #1098
@ritchie46 inpute data[legislators-current.csv](https://theunitedstates.io/congress-legislators/legislators-current.csv)

[2021-08-05 08:02] ztsweet commented on #1098
i guess the problem is  here
[code]

[2021-08-05 08:18] ritchie46 commented on #1098
Yes, that's also what I expect, but it should not panic. I will fix this.

Another tip

[code]

There is a `dt` namespace that will help you to do do the conversion to year:

[code]

[2021-08-05 08:22] ztsweet commented on #1098
thanks and expect the new version will fix the problem :-)

[2021-08-05 09:38] ghuls commented on #1023
See:  https://github.com/pola-rs/polars/pull/1096 (failing tests due `pyarrow==4.0,5.0` problem in the arrow-cherry-pick branch.

[2021-08-05 09:51] ghuls opened #1100 "Switch from prettytable-rs to comfy_table"
Arrow2 is switching from prettytable-rs to comfy_table:
https://github.com/jorgecarleitao/arrow2/pull/251

Might be worth to consider it.

[2021-08-05 10:03] ritchie46 commented on #1100
We already use comfy table 🙂

[2021-08-05 10:16] ghuls commented on #1100
My bad. Only grepped for pretty-table.

[2021-08-05 10:16] #1100 closed

[2021-08-05 12:25] ritchie46 commented on #1098
Fixed in #1101

[2021-08-05 12:46] ritchie46 opened #1102 "ipc read_n_rows"
Option to only read the first n rows.

[2021-08-05 23:38] davideger opened #1105 "numpy boolean vectors get converted as "objects" instead of cast to bool"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.17

#### What operating system are you using polars on?

Google Colab

#### Describe your bug.

When constructing a dataframe for either pandas or polars from a dict of columns, pandas will accept a numpy array of bools as bools, but polars treats the same columns as opaque objects.

[code]

[code]

`d

[2021-08-06 05:03] ritchie46 commented on #1105
Yes, I will fix this.

FYI: 0.8.18 is out 🙂

[2021-08-06 07:09] ritchie46 commented on #1098
fixed and released

[2021-08-06 07:09] #1098 closed

[2021-08-06 08:14] #1105 closed

[2021-08-06 13:20] ghuls opened #1107 "PanicException when converting non-Utf8 column to Catergorical."
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.17

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

Accidentally converting a int column to a catergorical gives a panic exception instead of "Unsupported operation" or something similar.

#### What are the steps to reproduce the behavior?

[code]

[2021-08-06 15:39] ghuls commented on #1107
pandas Catergorical (pyarrow Dictionary) to polars string auto conversion seems to be broken.

Fixed here: https://github.com/pola-rs/polars/pull/1108

[2021-08-06 20:06] davideger opened #1109 "Pickle support for Polars dataframes"
#### Describe your feature request

`copy.deepcopy()` and `ray` generally require that objects be pickle-able if they are to be sent over the network to other workers.

When I attempt to `copy.deepcopy()` a polars dataframe or a structure that contains one, I get the following error on polars 0.8.19

[code]

[2021-08-07 03:21] potter420 commented on #1109
Hey there, because polars Dataframe is in arrows memory format and transfer from and to pyarrow is O(1) in most cases,  you could try converting them into pyarrow Table/Array when returning from remotes. I think that can be transferable very quick and efficient rather than pickling.

[2021-08-07 06:06] potter420 opened #1110 "PanicException when filter on sorted columns"
#### Are you using Python or Rust?

**Python**

#### What version of polars are you using?

0.8.19

#### What operating system are you using polars on?

Amazon Linux 2

#### Describe your bug.

Panic Exception when filter on sorted columns

#### What are the steps to reproduce the behavior?

[code]
#### What is the actual behavior?

[code]
Additional rust panic output:
[code]

#### What is the exp

[2021-08-07 07:07] ritchie46 commented on #1110
Thanks @potter420. This bug was introduced because we switched the backend from `arrow-rs` to `arrow2`. I will patch the python release back to `arrow-rs` until this is fixed. I will ping you when it is released. :slightly_smiling_face:

@jorgecarleitao FYI

[2021-08-07 11:21] ritchie46 commented on #1109
Yes, and arrow serialization is also far more efficient than pickle.

Regarding deepcopy: polars dataframes and series have a `clone` which is very cheap and has the same effect. Because polars data is immutable,  we can just increment ref counts.

Not to say that I don't want to add pickling support (I do). I just think its often not the best solution.

[2021-08-07 11:22] ritchie46 commented on #1110
@potter420 patched and released.

[2021-08-07 11:24] tomlister opened #1111 "Is it possible to create a dataframe from row-like (Vec<Struct>) data?"
Hi,

Is it possible to create a dataframe from row-like (Vec<Struct>) data?

i.e A vec of OHLCFrame?
[code]

Cheers.

Also, I have a pretty cool issue number :)

[2021-08-07 14:37] kkonghao commented on #1111
Yes I think it is necessary that I also have the same data processing requirements to add a new row to the dataframe

[2021-08-07 15:12] ritchie46 commented on #1111
Haha.. congrats on the number.

You can use [from_rows](https://pola-rs.github.io/polars/polars/frame/struct.DataFrame.html#method.from_rows). If performance is important,  I'd recommend to see if you can still create data in a columnar fashion with the builders.

[2021-08-07 15:19] tomlister commented on #1111
Dank u.
Ben je Nederlands? Ik spreek beetje Nederlands.

[2021-08-07 15:41] tomlister commented on #1111
Bit confused as how to cast of convert to rows to supply an argument to from_rows

[2021-08-07 16:43] ritchie46 commented on #1111
Jep, Nederlands. 😄

A `Row` can have any combination of datatypes. In your case its all `f64`, but Polars cannot know that normally. So you will have to wrap the `f64` data in the `AnyValue` enum to be able to wrap them inti a `Row`.

[2021-08-08 08:58] tomlister commented on #1111
Thanks.

Sorry for being a pest. How do I enumerate row by row?

[2021-08-08 09:28] ritchie46 commented on #1107
fixed and released. Thanks again @ghuls

[2021-08-08 09:28] #1107 closed

[2021-08-08 09:31] ritchie46 opened #1112 "pretty print failure output of `frame_equal` assertions"
Currently the output is from the `dbg` macro and not very readable.

[2021-08-08 14:27] ritchie46 commented on #1111
How do you mean? What do you want to do?

[2021-08-08 14:32] tomlister commented on #1111
Let's say we have a dataframe.

How would one go about iterating over it by row?

i.e (this is not the way to do it but will suffice in explaining what I'm trying to do)
[code]

[2021-08-08 15:19] ritchie46 commented on #1111
You can use [get_row](https://pola-rs.github.io/polars/polars/frame/struct.DataFrame.html#method.get_row) to access by index. This however quite slow as the data is layed out columnar in memory. Every row access comprises many cache misses.

Often the same goal can be acquired in a columnar fashion. In you're case, I'd first select the `close_time` and `close_price` columns and work on them.

Idea

[2021-08-08 15:26] tomlister commented on #1111
Okay, cheers I understand now.

Dank je

On Mon, 9 Aug 2021, 1:19 am Ritchie Vink, ***@***.***> wrote:

[2021-08-09 08:43] HagaiHargil opened #1113 "[Rust][IPC] Reading more than one DF from a stream fails"
#### Are you using Python or Rust?

 **Rust** + **Python**

#### Which feature gates did you use?

["random", "ipc", "rows", "pretty_fmt"]

#### What version of polars are you using?

0.15.1

#### What operating system are you using polars on?

Windows 10

#### Describe your bug.

I'm trying to use `polars` for IPC between a Python process and a Rust one. On the Python side, I wrote two DFs to a f

[2021-08-09 08:52] jorgecarleitao commented on #1113
Two notes:

Note sure it is possible to append to IPC via `to_ipc`. There is no way the second call in Python to know whether it is appending to the file or writing one from scratch (footers and headers matter here).
* For Python <> Rust within the same process, it is usually better to use FFI / C data interface, as that is zero cost. AFAIK polars in pypi offers you that for free (besides a DataFr

[2021-08-09 09:10] ghuls opened #1114 "Get schema from IPC (Feather v2) file without loading it first."
#### Describe your feature request

Get schema from IPC (Feather v2) file without loading it first.

Similar to what is possible with pyarrow dataset API:

[code]

Getting all column names before loading the data is useful in case you have a lot of columns (with unknown names). from which
you want to select only a subset.

[code]

[2021-08-09 09:17] ghuls commented on #1113
@HagaiHargil (py)arrow has record batch, which could be useful in your case. https://arrow.apache.org/docs/python/ipc.html

[2021-08-09 09:20] HagaiHargil commented on #1113
Hi,

Regarding the appending part - the file size increase after calling the second `to_ipc`. I'm aware of the header issues as I first tried using `arrow-rs` directly, but they have different issues with their IPC implementation (I reported them as well). I was hoping that something in the `to_ipc` implementation is aware that the stream exists. Otherwise we're basically dealing with straight-for

[2021-08-09 09:20] ghuls commented on #1114
Once getting columns from an IPC file is exposed, the following issue (once implemented) should help with faster loading of selected columns:
https://github.com/jorgecarleitao/arrow2/issues/261

[2021-08-09 11:39] nspies-celsiustx opened #1115 "Get/set categorical levels?"
Is there a way to observe and set the levels in a `pl.Categorical`? I'd like to stack a number DataFrames together, and the levels haven't always been observed in each frame.

For example, the following yields an error, presumably because `"c"` has not been included in the `df2["A"]` Categorical.

[code]

However, I know beforehand that `"c"` should be an acceptable value in the categorical. I'm l

[2021-08-09 13:35] ritchie46 commented on #1115
Hi @nspies-celsiustx , with #1116 you are able to set a global string cache where the categorie indexes are synchronized.

This will be released next friday. You can compile from source if you want to functionality right away.

[2021-08-09 13:42] nspies-celsiustx commented on #1115
Looks beautiful! I am truly amazed at not only the fantastic library you've built but also your rapid responses to my and others' bug and feature requests. Keep up the great work @ritchie46.

[2021-08-09 13:44] ritchie46 commented on #1113
I don't think its buggy, but I think that the writers did not anticipate two IPC files in a stream of bytes.

## FFI
Here is the code that polars uses to zero copy transfer pyarrow to arrow-rs/ arrow2. https://github.com/pola-rs/polars/blob/master/py-polars/src/arrow_interop/to_rust.rs

## IPC
I do agree with you that the second ipcreader initialization should not fail and that the reader should u

[2021-08-09 14:29] HagaiHargil commented on #1113
@ritchie46 Thanks for your response.

The [issue I've opened](https://github.com/apache/arrow-rs/issues/646) on `arrow-rs` seems like a bug to me, and has nothing to do with two different files. `arrow2` doesn't suffer from it, but it has other problems that I'm still trying to reproduce in a reliable manner. The current behavior of polars may not be affected by it, but it's definitely back there.

[2021-08-09 15:15] ritchie46 commented on #1115
Thanks, will do! :smile:

[2021-08-09 15:51] ghuls commented on #1109
ray shouldn't require pickling support at all for arrow tables:
https://arrow.apache.org/blog/2017/10/15/fast-python-serialization-with-ray-and-arrow/

[2021-08-09 16:06] jorgecarleitao commented on #1114
I took a look at arrow2's code, and it seems that this is already possible: `read_file_metadata` returns `FileMetadata`, which contains `FileMetadata::schema()`.

[2021-08-09 17:38] ritchie46 commented on #1109
https://arrow.apache.org/blog/2017/10/15/fast-python-serialization-with-ray-and-arrow/

Using arrow will likely be a lot faster.

Anyway.. I added pickling support: in #1119

Will be released next friday.

[2021-08-09 17:46] davideger commented on #1109
thank you for the tips to avoid pickling completely and correcting me on ray's requirements.

[2021-08-09 17:50] ritchie46 opened #1120 "implement `__copy__, __deepcopy__`"
Clones are free, use them, otherwise python will pickle the data for a deep copy.

[2021-08-09 17:58] ghuls commented on #1109
@ritchie46 Pickling speed potentially could be faster with pickle protocol 5 when using PickleBuffers:
https://www.python.org/dev/peps/pep-0574/

https://docs.python.org/3/library/pickle.html#pickle.PickleBuffer

Example for numpy:
[code]

[2021-08-09 22:29] davideger commented on #1109
The reason I mentioned `ray` originally was because of the error I got when trying to use it with `polars.`  A transcript from Google colab follows.  Ray has a help page on getting serialization working [here](https://docs.ray.io/en/master/serialization.html) which I may give a shot...

[code]

[code]

Version one - no parallelization, normal python list comprehension.
[code]
Output:
[code]

Versi

[2021-08-09 22:45] davideger commented on #1109
The following code seems to do the trick to register polars serialization with ray:

[code]

Though if we can construct a polars directly from arrow data, that would likely be more efficient.  I did not see a polars constructor for that, though...?

[2021-08-09 23:11] davideger commented on #1109
I tried doing the obvious thing to use arrow serialization:

[code]

but stumbled over a [known issue](https://stackoverflow.com/questions/67798070/raytune-is-throwing-error-module-pickle-has-no-attribute-picklebuffer-whe?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+stackoverflow%2FJqJq+%28Recent+Questions+-+Stack+Overflow%29) with ray where it stack traces as follows:

[code]

[2021-08-10 07:13] ritchie46 commented on #1109
..
AttributeError: module 'pickle' has no attribute 'PickleBuffer'

I believe the `PickleBuffer` was added in python 3.8. Not really sure though.

Are you using ray to serialize polars dataframes to other machines? On a single machine polars already utilizes a lot of parallelism out of the box, and I think using a framework that has much more overhead than the threadpool maintained by polars will

[2021-08-10 07:41] ghuls commented on #1109
Yes, it is only added in python 3.8, but the picle5 module can be installed for older versions of python (3.5-3.7)
https://pypi.org/project/pickle5/

[code]

[2021-08-10 07:43] ritchie46 commented on #1109
@ghuls In that light, I think that if we see that python version >= 3.8 we can defer to pyarrow for pickling. :thinking:

[2021-08-10 07:52] ghuls commented on #1109
@ritchie46 Seems like pyarrow supports the (backported) pickle5 module too: https://github.com/apache/arrow/blob/8e43f23dcc6a9e630516228f110c48b64d13cec6/python/pyarrow/compat.pxi#L42-L45

[2021-08-10 08:22] #1120 closed

[2021-08-10 09:22] ritchie46 commented on #1114
I first have to expose a schema object to the python API.

@jorgecarleitao, I don't know much about IPC. Is it also possible to determine the size of a recordbatch, say only read `n` rows?

[2021-08-10 10:42] jorgecarleitao commented on #1114
It is possible, but not yet implemented ^_^

[2021-08-10 18:27] #956 closed

[2021-08-10 18:30] ritchie46 commented on #1112
Does not originate in rust code, but python `__str__` call, which is correct.

[2021-08-10 18:30] #1112 closed

[2021-08-10 19:52] AdrianAntico opened #1124 "shift_and_fill by groups + other operations by grouping variables"
#### I'm new to polars and would like to understand how to run certain methods by group variables

A few methods include: lags and rolling stats with varying window sizes:
lag1, lag2, ..., lagN
ma1, ma2, ..., maN

Using python

[code]

[2021-08-11 03:39] tikkanz opened #1125 "Add Pandas `float_format` option to `to_csv`"
It would be good to add a simple and performant way of formatting floating point numbers in csv files that are output by polars.
Pandas uses the `float_format` option for this.
[code]
[code]

Currently to get that output using polars, the best option is the following:
[code]

[2021-08-11 07:16] #1026 closed

[2021-08-11 09:11] ghuls opened #1126 "Only first gzip stream of gzipped CSV/TSV files with multiple gzip streams is read."
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.17

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

Only the first gzip stream of a gzipped CSV/TSV file with multiple concatenate gzip streams is read.
.
This is a common format in bioinformatics. `bgzip` creates this kind of files by compressing (sorted) TSV fi

[2021-08-11 10:23] ghuls opened #1129 "Extremely slow `pivot.count` (compared with `pivot.sum`, `pivot.max`, `pivot.first`, ...)"
#### Are you using Python or Rust?

**Python**.

#### What version of polars are you using?

0.8.20 (arrow-rs)

#### What operating system are you using polars on?

CentOS 7

#### Describe your bug.

`count` in the following example is extremely slow (at least compared with `sum`, `max`, `first`, ...).

#### What are the steps to reproduce the behavior?

[code]

[2021-08-11 12:18] ritchie46 commented on #1129
I already know what the issue is. This is accidentally quadratic.

[2021-08-11 13:14] #1129 closed

[2021-08-12 10:04] ritchie46 opened #1133 "python: csv read_cvs dtypes accept list"

[2021-08-12 10:05] ritchie46 opened #1134 "csv schema inference scientific float notation"

[2021-08-12 14:37] ritchie46 commented on #1134
added in  #1137

[2021-08-12 14:37] #1134 closed

[2021-08-12 15:02] ritchie46 opened #1138 "Use total ordering for floats"
Already fixed in arrow2 branch. We might do the arrow-rs branch as well.

[2021-08-13 02:19] benjaminrwilson commented on #771
@ritchie46, how difficult do you think adding `float16` support would be?

[2021-08-13 10:46] ritchie46 opened #1141 "Shift in aggregation context"
Create special shift expression that shifts the series int he list and not the list itself.

[2021-08-13 10:46] ritchie46 commented on #1141
[code]

[2021-08-13 12:15] ritchie46 commented on #1141
Note that `shift_and_fill` works correct, so validate against that behavior.

[2021-08-13 13:38] ritchie46 opened #1146 "inspect/debug expr"

[2021-08-14 16:13] frozenranger opened #1147 "the trait `FromIterator<&&str>` is not implemented for `polars::prelude::Series`"
Hi @ritchie46

Great module! I really like using dataframes, especially since I come from a python background with pandas.

I was wondering if it is possible to implement this or if there is a simple work around:

for example

```let mut x = Series::new("events", ["1", "2", "3"]); //works no problem!```

however

```let mut x: Series = ["1", "2", "3"].iter().collect();```

//fails with value of ty

[2021-08-14 16:21] jorgecarleitao commented on #1147
Could you try `let mut x: Series = ["1", "2", "3"].iter().map(|x| x.as_ref()).collect();`?

[2021-08-14 16:26] frozenranger commented on #1147
Thanks for the fast reply!

I get this error:

let mut x: Series = ["1", "2", "3"].iter().map(|x| x.as_ref()).collect();
   |                                                        --^^^^^^--
   |                                                        | |
   |                                                        | cannot infer type for type parameter `T` declared on the trait `AsRef`
   |

[2021-08-14 17:07] ritchie46 commented on #1147
Hi @frozenranger, you have a reference too much. As the error suggests, it is not implemented for `std::iter::Iterator<Item=&&str>`, It is implemented for `&str`.

Try this:

[code]

[2021-08-14 17:17] frozenranger commented on #1147
Ah... Perfect :)

thank you so much!

Also I noticed if I want to append the series later I need to include the &, before the array / box as seen below

'''	let mut x: Series = ["1", "2", "3"].iter().copied().collect();

	println!("{:?}", x);

	x.append(&["4"].iter().copied().collect()).unwrap();

	println!("{:?}", x); '''

if I don't include the & for example ```x.append(["4"].iter().copied().col

[2021-08-14 17:36] frozenranger commented on #1147
Also I think it may help some new people if you added this example to your docs regarding series :) Thank you so much for all this active work!

https://pola-rs.github.io/polars/polars/prelude/struct.Series.html

[2021-08-14 18:22] ritchie46 commented on #1147
Yeap, that's it.

[2021-08-15 06:34] #1147 closed

[2021-08-15 07:26] ritchie46 opened #1148 "Filter expression should call eval_on_groups"
Calls eval atm

[2021-08-15 14:01] tikkanz commented on #1125
A more performant workaround if non-significant decimals can be omitted:
[code]

[2021-08-15 17:01] ritchie46 commented on #1141
#1149

[2021-08-15 17:01] #1141 closed

[2021-08-15 17:03] #1111 closed

[2021-08-15 17:05] #1110 closed

[2021-08-15 17:05] #1115 closed

[2021-08-15 17:06] #1109 closed

[2021-08-15 17:06] #1083 closed

[2021-08-16 08:29] #1148 closed

[2021-08-16 08:52] ritchie46 opened #1152 "lazy function execution let caller determine if this is executed in parallel"
This is for in the aggregation context. If a function is applied over groups series, it could benefit from parallelism. For instance covariance computation would.